@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "GothamProRegular", sans-serif
	overflow-x: hidden
	background-color: #f2f4f5

.hidden
	display: none

.header
	padding-top: 9px
	padding-bottom: 50px
	background-color: #fff
	&__logo
	&__nav
		padding-top: 10px
	&__phone
		padding-top: 15px

.ser
	background-color: #f2f4f5

.wht
	background-color: #fff

.bht
	background-color: #008be9

.page
	&__index-slider
		position: relative
	&__calculation
	&__advantages
		padding-top: 40px
		padding-bottom: 64px

.logo
	padding-left: 35px
	&__link
		position: relative
		width: 191px
		height: 55px
		display: block
		img
			display: block
			width: 100%
			height: 100%
		span
			display: inline-block
			position: absolute
			right: -2px
			bottom: 0
			color: #323232
			font-size: 9px
			text-transform: uppercase
			letter-spacing: 0.25px

.nav
	font-size: 0
	&__item
		display: inline-block
		position: relative
	&__link
		font-family: "GothamProBold", sans-serif
		color: #323232
		font-size: 14px
		line-height: 50px
		padding: 0 30px
		height: 50px
		display: block
		@include transition(all 0.5s ease-in-out)
		&:hover, &-active
			background-color: #0d8eee
			text-decoration: none
			color: #fff

.sub-nav
	background-color: #0d8eee
	position: absolute
	left: 0
	top: 50px
	z-index: 100
	display: none
	&-2
		left: 252px
		top: 0
	&__item
	&__link
		position: relative
		display: block
		background-color: #0d8eee
		height: 50px
		width: 252px
		&:hover
			background-color: #0186e0
		&-active
			background-color: #0186e0
		&-arrow
			display: block
			font-size: 14px
			color: #fff
			position: absolute
			right: 30px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
		span
			color: #fff
			font-size: 14px
			position: absolute
			display: block
			left: 25px
			right: 25px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)

.phone
	text-align: right
	padding-right: 35px
	&__number
		color: #323232
		font-size: 16px
		font-family: "GothamProBold", sans-serif
		display: inline-block
		&:hover
			color: #323232
			text-decoration: none
	&__feedback
		color: #323232
		font-size: 14px
		text-decoration: underline
		display: inline-block
		&:hover
			text-decoration: none
			color: #323232

.index-links
	position: absolute
	width: 37px
	left: -63px
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	z-index: 10
	&__item
		padding: 5px 0
	&__link
		width: 37px
		height: 37px
		display: block
		border: 1px solid #0088ed
		background-color: #0088ed
		padding-left: 8px
		padding-top: 8.5px
		position: relative
		&:hover
			background-color: transparent
			.index-links__icon
				background-position-x: -21px !important
		span
			height: 28px
			line-height: 28px
			background-color: #0088ed
			display: block
			position: absolute
			top: 4px
			padding: 0 14px
			font-size: 12px
			color: #fff
			letter-spacing: 0.25px
			left: 36px
			display: none
	&__icon
		width: 19px
		height: 18px
		display: block
		background-image: url(../img/icon/sprite.png)
		background-repeat: no-repeat

.index-slider
	height: 390px
	position: relative
	&__description
	&__wrapper
		height: 390px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		p
			color: #323232
			font-size: 18px
			line-height: 22px
			letter-spacing: 0.25px
			cursor: default
	&__title
		padding-bottom: 25px
		display: block
		width: 100%
		h2
			color: #323232
			font-size: 40px
			line-height: 45px
			font-family: "GothamProBlack", sans-serif
			text-transform: uppercase
			cursor: default
	&__img
		text-align: left
		position: relative
		img
			display: inline-block
			width: auto
			height: 100%
	.slick-dots
		width: 10px
		position: absolute
		right: -36px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		li
			padding: 9px 0
			display: block
			button
				width: 10px
				height: 10px
				display: block
				text-indent: -9999px
				padding: 0
				margin: 0
				background-color: #c5e4fb
				border: none
				border-radius: 50%
				-webkit-border-radius: 50%
		.slick-active
			button
				background-color: #0088ed

.cg-active
	&::before
		background-position: right center !important

.calculation
	position: relative
	&-geo
		&::before
			content: ''
			display: block
			width: 14px
			height: 19px
			background-image: url(../img/icon/geo.png)
			background-repeat: no-repeat
			background-position: left center
			position: absolute
			left: 19px
			top: 50%
			margin-top: -9.5px
	&__city
		height: 36px
		border-radius: 18px
		border: 1px solid #323232
		padding-left: 40px
		padding-right: 40px
		vertical-align: middle
		display: block
		width: 100%
		font-size: 12px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		&::-webkit-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&::-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-ms-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:focus
			border-color: #0088ed
			color: #0088ed
			&::-webkit-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&::-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-ms-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
	&__places
		height: 36px
		border-radius: 18px
		border: 1px solid #323232
		padding-left: 53px
		padding-right: 19px
		text-align: right
		vertical-align: middle
		display: block
		width: 60%
		font-size: 12px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		font-family: "GothamProBold", sans-serif
		letter-spacing: 0.25px
		padding-bottom: 1.1px
	&-pl
		position: relative
		span
			position: absolute
			left: 19px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
			color: #323232
			font-size: 12px
			letter-spacing: 0.25px
	&__value
		display: block
		margin-top: 8px
		height: 20px
		border: none
		border-bottom: 1px solid #323232
		border-top: 1px solid transparent
		font-size: 12px
		color: #008be9
		&-wp
			display: inline-block
			position: relative
		&::-webkit-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&::-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-ms-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:focus
			border-bottom-color: #0088ed
			color: #0088ed
			&::-webkit-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&::-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-ms-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
	&-tr
		font-size: 11.69px
		color: #323232
		.calculation__value
			display: inline-block
			position: relative
		span
			display: inline-block
			padding-left: 5px
			padding-right: 5px
	&__button
		height: 36px
		line-height: 36px
		background-color: #008be9
		text-align: center
		color: #fff
		font-size: 12px
		letter-spacing: 0.25px
		display: block
		width: 100%
		border-radius: 18px
		&:hover
			text-decoration: none
			color: #fff
		&:focus, &:active
			text-decoration: none
			color: #fff
	&__text
		position: absolute
		top: 30px
		left: 2px
		display: block
		font-size: 8px
		letter-spacing: 0.25px
		color: #008be9
		display: none

.advantages
	padding: 0 20px
	&__img
		height: 95px
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		img
			display: block
			max-height: 100%
			max-width: 100% 
	&__title
		display: block
		text-align: center
		h3
			display: inline-block
			font-size: 12px
			line-height: 18px
			color: #323232
			font-family: "GothamProBold", sans-serif
			text-transform: uppercase
	&__description
		text-align: center
		p
			display: inline
			color: #323232
			font-size: 12px
			line-height: 18px

.promotions
	&__title
		text-align: center
		padding-bottom: 60px
		b
			color: #323232
			font-size: 35px
			text-transform: uppercase
			display: inline-block
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
	&__slider
		height: 352px
		position: relative
		.slick-slide
			opacity: 0.3
		.slick-active
			opacity: 1
		.slick-arrow
			position: absolute
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
			width: 57px
			height: 57px
			background-color: #fff
			border: 1px solid #cbcbcb
			z-index: 10
			text-indent: -9999px
			background-position: center center
			background-repeat: no-repeat
			&:hover
				border-color: #008be9
				&::after
					background-position-x: right !important
			&::after
				content: ''
				display: block
				width: 6px
				height: 10px
				background-repeat: no-repeat
				position: absolute
				background-image: url(../img/icon/arrows.png)
				top: 50%
				margin-top: -5px
				z-index: 11
		.slick-prev
			left: -29px
			&::after
				content: ''
				background-position: left top
				left: 24px
		.slick-next
			right: -29px
			&::after
				content: ''
				background-position: left bottom
				right: 24px
	&__item
		height: 352px
	&__first
		border: 1px solid #d0d0d0
		padding: 22px 30px
	.column-1
		padding-top: 10px
		b
			color: #323232
			font-size: 14px
			letter-spacing: 0.25px
			line-height: 19px
			text-transform: uppercase
			font-family: "GothamProBold", sans-serif
	.column-2
		text-align: center
		padding-top: 9px
		span
			color: #323232
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.25px
			font-family: "GothamProBold", sans-serif
			display: inline-block
			white-space: nowrap
			strong
				color: #008be9
				font-size: 20px
				line-height: 19px
				font-family: "GothamProBold", sans-serif
				letter-spacing: 0.25px
	.column-3
		padding-top: 8px
		text-align: center
		input
			height: 24px
			display: inline-block
			border: none
			border-bottom: 1px solid #989898
			font-size: 14px
			color: #323232
			letter-spacing: 0.25px
			max-width: 146px
			&::-webkit-input-placeholder
				color: #323232
				font-size: 10px
			&:-moz-placeholder
				color: #323232
				font-size: 10px
			&::-moz-placeholder
				color: #323232
				font-size: 10px
			&:-ms-input-placeholder
				color: #323232
				font-size: 10px
			&:focus
				border-bottom-color: #323232
	.column-4
		text-align: center
		a
			max-width: 112px
			display: inline-block
			height: 40px
			background-color: transparent
			color: #008be9
			font-size: 14px
			line-height: 38px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			text-align: center
			border: 1px solid #008be9
			border-radius: 20px
			padding: 0 18px
			&:hover
				text-decoration: none
				color: #fff
				background-color: #008be9
	&__img
		display: block
		width: auto
		margin-left: 0
		margin-right: -30px
		height: 352px
		overflow: hidden
		img
			min-height: 100%
			min-width: 100%
	&__zag
		text-align: center
		b
			color: #fff
			font-size: 14px
			line-height: 19px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
			text-transform: uppercase
	&__description
		text-align: center
		padding-top: 20px
		p
			color: #fff
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.25px
			display: inline
	&__input
		text-align: center
		input
			width: 230px
			display: inline-block
			border: none
			border-bottom: 1px solid #93c9f7
			height: 36px
			text-align: center
			color: #fff
			font-size: 12px
			&::-webkit-input-placeholder
				color: #fff
				font-size: 10px
			&:-moz-placeholder
				color: #fff
				font-size: 10px
			&::-moz-placeholder
				color: #fff
				font-size: 10px
			&:-ms-input-placeholder
				color: #fff
				font-size: 10px
			&:focus
				border-bottom-color: #fff
	&__button
		text-align: center
		padding-top: 22px
		a
			height: 38px
			display: inline-block
			line-height: 38px
			text-align: center
			padding: 0 50px
			background-color: #fff
			border-radius: 19px
			color: #008be9
			font-size: 10px
			text-transform: uppercase
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			&:hover
				text-decoration: none
	&__stock
		text-align: center
		padding-top: 70px
		padding-bottom: 68px
		a
			display: inline-block
			height: 54px
			padding: 0 80px
			line-height: 52px
			color: #fff
			border-radius: 27px
			text-transform: uppercase
			font-size: 12px
			font-family: "GothamProBold", sans-serif
			background-color: #0088ed
			border: 1px solid #0088ed
			&:hover
				text-decoration: none
				color: #0088ed
				background-color: transparent

.subscription
	&__title
		text-align: center
		padding-top: 50px
		b
			color: #fff
			text-transform: uppercase
			font-size: 35px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
	&__description
		padding: 30px 0
		p
			font-size: 14px
			color: #fff
			line-height: 22px
			letter-spacing: 0.25px
			text-align: justify
			text-align: center
	&__email
		input
			display: block
			width: 228px
			margin: 0 auto
			height: 32px
			border: none
			border-bottom: 1px solid #80c5f4
			color: #fff
			font-size: 12px
			text-align: center
			&:focus
				border-color: #fff
			&::-webkit-input-placeholder
				color: rgba(225,225,225,.5)
				font-size: 10px
			&:-moz-placeholder
				color: rgba(225,225,225,.5)
				font-size: 10px
			&::-moz-placeholder
				color: rgba(225,225,225,.5)
				font-size: 10px
			&:-ms-input-placeholder
				color: rgba(225,225,225,.5)
				font-size: 10px
	&__button
		text-align: center
		padding-top: 24px
		padding-bottom: 59px
		a
			display: inline-block
			height: 54px
			padding: 0 80px
			line-height: 52px
			color: #008be9
			border-radius: 27px
			text-transform: uppercase
			font-size: 12px
			font-family: "GothamProBold", sans-serif
			background-color: #fff
			border: 1px solid #fff
			&:hover
				text-decoration: none
				color: #fff
				background-color: transparent

.our-services
	&__title
		text-align: center
		padding-top: 50px
		b
			color: #323232
			text-transform: uppercase
			font-size: 35px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
	&__top
		padding: 60px 26px 40px 26px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
	&__item
	&__link
		color: #323232
		text-transform: uppercase
		font-size: 12px
		line-height: 19px
		font-family: "GothamProMedium", sans-serif
		background-repeat: no-repeat
		background-position: left center
		padding: 5px 0 5px 40px
		&:hover
			color: #008be9
			text-decoration: underline
	&__bottom
		@extend .clearfix
	&__left
		background-color: #1995e5
		width: 332px
		padding-top: 98px
		padding-left: 52px
		padding-right: 52px
		padding-bottom: 98px
		float: left
		box-sizing: border-box
		&-block
			.our-services__left-item:last-child
				padding-bottom: 0
		&-item
			padding-bottom: 25px
			display: block
		&-link
			color: #fff
			font-size: 14px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
			&:hover
				color: #fff
				text-decoration: underline
	&__right
		float: left
		width: 808px
		overflow: hidden
		&-block
			width: 100%
			img
				width: 100%
				display: block
	&__stock
		text-align: center
		padding-top: 47px
		padding-bottom: 54px
		a
			display: inline-block
			height: 54px
			padding: 0 80px
			line-height: 52px
			color: #fff
			border-radius: 27px
			text-transform: uppercase
			font-size: 12px
			font-family: "GothamProBold", sans-serif
			background-color: #0088ed
			border: 1px solid #0088ed
			&:hover
				text-decoration: none
				color: #0088ed
				background-color: transparent

.sending
	&__title
		text-align: center
		padding-top: 50px
		b
			color: #323232
			text-transform: uppercase
			font-size: 35px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
	&__item
		text-align: center
	&__numb
		text-align: center
		padding-bottom: 5px
		span
			color: rgba(#008be9,.1)
			font-size: 100px
			letter-spacing: 0.25px
			font-family: "GothamProBlack", sans-serif
			line-height: 100px
	&__zag
		text-align: center
		padding-bottom: 16px
		b
			color: #323232
			font-size: 22px
			line-height: 22px
			letter-spacing: 0.25px
			font-family: "GothamProBold", sans-serif
			text-transform: uppercase
	&__description
		p
			color: #323232
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.25px
			a
				color: #008be9
				text-decoration: underline
				&:hover
					text-decoration: none
					color: #008be9
	&__stock
		text-align: center
		padding-top: 56px
		padding-bottom: 80px
		a
			display: inline-block
			height: 54px
			padding: 0 80px
			line-height: 52px
			color: #fff
			border-radius: 27px
			text-transform: uppercase
			font-size: 12px
			font-family: "GothamProBold", sans-serif
			background-color: #0088ed
			border: 1px solid #0088ed
			&:hover
				text-decoration: none
				color: #0088ed
				background-color: transparent

.traffic
	&__title
		text-align: center
		padding-top: 50px
		b
			color: #323232
			text-transform: uppercase
			font-size: 35px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
	&__description
		padding-top: 8px
		text-align: center
		p
			display: inline-block
			color: #323232
			text-transform: uppercase
			font-size: 12px
			line-height: 22px
			font-family: "GothamProMedium", sans-serif
	&__item
		border: 10px solid #e5e6e7
		padding: 8px 5px
		height: 240px
		margin-bottom: 30px
		background-color: #fff
	&__img
		display: block
		text-align: center
		img
			display: inline-block
	&__zag
		text-align: center
		b
			color: #323232
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.25px
			font-family: "GothamProBold", sans-serif
			text-transform: uppercase
			display: inline-block
	&__op
		text-align: center
		padding-top: 16px
		p
			color: #323232
			display: inline-block
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.25px
			span
				color: #008be9
				font-size: 14px
				line-height: 19px
				letter-spacing: 0.25px
				font-family: "GothamProBold", sans-serif
	&__stock
		padding-top: 40px
		padding-bottom: 80px
		text-align: center
		a
			display: inline-block
			height: 54px
			padding: 0 80px
			line-height: 52px
			color: #fff
			border-radius: 27px
			text-transform: uppercase
			font-size: 12px
			font-family: "GothamProBold", sans-serif
			background-color: #0088ed
			border: 1px solid #0088ed
			&:hover
				text-decoration: none
				color: #0088ed
				background-color: transparent

.questions
	&__title
		text-align: center
		padding-top: 40px
		b
			color: #323232
			text-transform: uppercase
			font-size: 35px
			font-family: "GothamProBold", sans-serif
			letter-spacing: 0.25px
			display: inline-block
	&__item
		position: relative
		border-bottom: 1px solid #989898
		&-block
			padding-bottom: 24px
			display: none
		.plus
			width: 16px
			height: 16px
			display: block
			position: relative
			&-wp
				position: absolute
				left: -40px
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
			&::before
				content: ''
				width: 2px
				height: 16px
				background-color: #0088ed
				position: absolute
				left: 7px
				top: 0
			&::after
				content: ''
				width: 16px
				height: 2px
				background-color: #0088ed
				position: absolute
				left: 0
				top: 7px
		.minus
			&::before
				content: ''
				display: none !important
		&-name
			position: relative
			padding: 24px 0
			cursor: pointer
	&__bottom
		text-align: center
		padding-bottom: 96px
		p
			display: inline-block

.seo
	strong
		color: #323232
		font-size: 12px
		line-height: 19px
		font-family: "GothamProBold", sans-serif
		letter-spacing: 0.25px
		display: block
		padding-bottom: 26px
	h2
		color: #323232
		text-transform: uppercase
		font-size: 12px
		line-height: 19px
		font-family: "GothamProBold", sans-serif
		letter-spacing: 0.25px
		display: block
		padding-bottom: 16px
	p
		color: #323232
		font-size: 12px
		line-height: 19px
		letter-spacing: 0.25px
	&__button
		a
			color: #008be9
			text-transform: uppercase
			font-size: 12px
			line-height: 19px
			display: inline-block
			text-decoration: underline
			letter-spacing: 0.25px

.footer
	&__top
		background-color: #454545
	&__bottom
		background-color: #262626
		height: 68px
.f-logo
	&__link
		position: relative
		width: 191px
		height: 55px
		display: block
		img
			display: block
			width: 100%
			height: 100%
		span
			display: inline-block
			position: absolute
			right: -2px
			bottom: 0
			color: #fff
			font-size: 9px
			text-transform: uppercase
			letter-spacing: 0.25px
	&__description
		display: block
		width: 205px
		padding-top: 18px
		p
			font-size: 14px
			line-height: 19px
			color: #fff
			letter-spacing: 0.25px

.soc
	font-size: 0
	padding-top: 24px
	&__item
		display: inline-block
		margin-right: 10px
	&__link
		width: 24px
		height: 24px
		display: block
		background-repeat: no-repeat
		background-position: center center

.menu
	&__title
		padding-bottom: 10px
		b
			display: inline-block
			font-size: 14px
			line-height: 19px
			color: #fff
			letter-spacing: 0.25px
			text-transform: uppercase
			font-family: "GothamProBold", sans-serif
	&__item
		display: block
		text-align: left
		padding: 5px 0
	&__link
		display: inline-block
		font-size: 14px
		line-height: 19px
		color: #fff
		letter-spacing: 0.25px
		&:hover
			color: #fff
			text-decoration: underline
	&__email
		@extend .clearfix
		padding-top: 22px
		input
			height: 40px
			display: block
			background-color: #fff
			border: none
			padding-left: 15px
			padding-right: 15px
			font-size: 12px
			float: left
			width: 70%
		button
			background-color: #008be9
			height: 40px
			width: 30%
			text-align: center
			line-height: 40px
			border: none
			display: block
			color: #fff
			float: left

.copy
	text-align: left
	p
		color: #fff
		font-size: 14px
		line-height: 68px
		display: inline-block

.developer
	text-align: right
	p
		color: #fff
		font-size: 14px
		line-height: 68px
		display: inline-block
		a
			color: #fff
			text-decoration: underline
			&:hover
				text-decoration: none
				color: #fff

.mob-our-services__top
	.slick-arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		width: 28px
		height: 28px
		background-color: #fff
		border: 1px solid #cbcbcb
		z-index: 10
		text-indent: -9999px
		background-position: center center
		background-repeat: no-repeat
		&:hover
			border-color: #008be9
			&::after
				background-position-x: right !important
		&::after
			content: ''
			display: block
			width: 6px
			height: 10px
			background-repeat: no-repeat
			position: absolute
			background-image: url(../img/icon/arrows.png)
			top: 50%
			margin-top: -5px
			z-index: 11
	.slick-prev
		left: 0
		&::after
			content: ''
			background-position: left top
			left: 10px
	.slick-next
		right: 0
		&::after
			content: ''
			background-position: left bottom
			right: 10px

.mob-our-services__top-item
	color: #323232
	font-size: 12px
	text-transform: uppercase
	letter-spacing: 0.25px
	line-height: 30px
	display: block
	text-align: center
.mob-our-services__bottom-item-no
	&::after
		display: none !important
.mob-our-services__bottom-item
	height: 480px
	position: relative
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&::after
		content: ''
		position: absolute
		display: block
		left: 0
		top: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-color: rgba(#008be9,.9)
.mob-our-services__types
	height: 120px
	display: block
	position: relative
	text-align: center
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&::after
		content: ''
		display: block
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%
		background-color: rgba(#008be9,.5)
	span
		position: absolute
		top: 50%
		transform: translateY(-50%)
		display: block
		left: 0
		right: 0
		text-align: center
		color: #fff
		font-size: 14px
		line-height: 19px
		text-transform: uppercase
		letter-spacing: 0.25px
		z-index: 2
		font-family: "GothamProBold", sans-serif
.mob-our-services__bottom
	margin-top: 10px
	position: relative

.mob-our-services__wp
	position: absolute
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	left: 0
	right: 0
	z-index: 2
.mob-our-services__cargo,
.mob-our-services__directions,
.mob-our-services__services
	font-size: 14px
	display: block
	width: 100%
	color: #fff
	line-height: auto
	padding: 8px 50px
	font-family: "GothamProBold", sans-serif
	box-sizing: border-box
	&:hover
		color: #fff
		text-decoration: underline

.navi
	font-size: 0
	&__item
		display: inline-block
		padding-right: 36px
		&:last-child
			padding-right: 0
	&__link
		color: #323232
		font-size: 12px
		font-family: "GothamProLight", sans-serif
		display: block
	&__last
		color: #0088ed
		font-size: 12px
		font-family: "GothamProLight", sans-serif
		display: block

.p-title
	text-align: left
	display: block
	padding-top: 14px
	padding-bottom: 80px
	b
		font-size: 40px
		font-family: "GothamProBlack", sans-serif
		line-height: 45px
		letter-spacing: 0.25px
		text-transform: uppercase
		color: #323232
		display: inline-block

.tabs
	background-color: #f4f5f5
	padding: 25px 30px 9px
	border: 1px solid #dcdddd
	margin-bottom: 20px
	.active
		color: #0088ed
	&__item
		cursor: pointer
		display: inline-block
		margin-bottom: 16px
		color: #323232
		font-size: 14px
		&:hover
			color: #0088ed
		&:last-child
			margin-bottom: 0

.join
	background-color: #f4f5f5
	padding: 25px 30px
	border: 1px solid #dcdddd
	margin-bottom: 20px
	&__title
		padding-bottom: 16px
		b
			cursor: pointer
			display: inline-block
			color: #323232
			font-size: 14px
	&__search
		@extend .clearfix
		input[type="text"]
			background-color: #fff
			border: medium none
			display: block
			float: left
			font-size: 14px
			height: 30px
			padding-left: 15px
			padding-right: 15px
			width: 70%
		input[type="button"]
			background-color: #008be9
			border: medium none
			color: #fff
			display: block
			float: left
			font-size: 14px
			height: 30px
			line-height: 30px
			text-align: center
			width: 30%
	&__soc
		padding-top: 16px
		@extend .clearfix
		&-text
			padding-top: 2px
			float: left
			b
				color: #323232
				cursor: pointer
				display: inline-block
				font-size: 14px
				text-transform: uppercase
		&-block
			font-size: 0
			margin-left: -2px
			float: right
		&-item
			display: inline-block
			padding-left: 2px
		&-link
			width: 24px
			height: 24px
			background-color: #454545
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-webkit-align-items: center
			-webkit-box-align: center
			-ms-flex-align: center
			align-items: center
			justify-content: center
			-webkit-justify-content: center
			.fa
				font-size: 16px
				color: #fff

.content
	padding-bottom: 130px
	strong
		color: #323232
		font-size: 14px
		line-height: 21px
		font-family: "GothamProBold", sans-serif
	ul
		margin-top: -10px
		li
			position: relative
			padding-left: 10px
			color: #0088ed
			font-size: 14px
			line-height: 21px
			margin: 10px 0
			&:last-child
				margin-bottom: 0
			&::before
				content: '-'
				color: #0088ed
				display: block
				position: absolute
				left: 0
				top: 0
	h2
		color: #323232
		font-family: "GothamProBold", sans-serif
		text-transform: uppercase
		font-size: 16px
		line-height: 21px
	p
		line-height: 21px
		color: #323232
		font-size: 14px

.i-stas
	padding-top: 40px
	&__item
		padding-left: 66px
		position: relative
		margin-bottom: 30px
	&__img
		position: absolute
		top: 0
		left: 0
		bottom: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		img
			display: block
	&__right
	&__title
		color: #323232
		text-transform: uppercase
		font-size: 12px
		line-height: 18px
		display: block
		font-family: "GothamProBold", sans-serif
	&__description
		color: #323232 !important
		font-size: 12px !important
		line-height: 18px !important
		display: block

.mob-tabs
	background-color: #f4f5f5
	padding: 0 20px
	border: 1px solid #dcdddd
	margin-bottom: 40px
	&__item
		color: #323232
		font-size: 14px
		padding: 8px 15px 8px 0
		position: relative
		cursor: pointer
		&-active
			&::after
				content: ''
				border: none !important
				border: 6px solid transparent !important
				border-bottom: 8px solid #454545 !important
				margin-top: -10px !important
		&::after
			content: ''
			border: 6px solid transparent
			border-top: 8px solid #454545
			display: block
			position: absolute
			right: 0
			top: 50%
			margin-top: -4px

.staff
	border: 1px solid #f4f5f5
	padding: 50px 35px 10px 35px
	margin-bottom: 86px
	&__item
		position: relative
		padding-left: 166px
		height: 195px
		margin-bottom: 40px
	&__img
		width: 140px
		height: 195px
		overflow: hidden
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-content: space-between
		align-items: center
		flex-direction: column
		position: absolute
		left: 0
		top: 0
		img
			display: block
			min-width: 100%
			min-height: 100%
	&__right
	&__name
		font-size: 14px
		line-height: 21px
		color: #454545
		font-family: "GothamProMedium", sans-serif
		display: block
		padding-bottom: 10px
	&__description
		font-size: 14px
		line-height: 21px
		color: #454545
	&__link
		color: #008be9
		font-size: 14px
		line-height: 21px
		&:hover
			color: #008be9
			text-decoration: underline

.license
	&__item
		padding-left: 168px
		position: relative
		min-height: 200px
		margin-bottom: 40px
	&__img
		width: 142px
		height: 200px
		position: absolute
		left: 0
		top: 0
		overflow: hidden
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-content: space-between
		align-items: center
		flex-direction: column
		cursor: pointer
		img
			display: block
			min-width: 100%
			min-height: 100%
		&-hover
			position: absolute
			width: 142px
			height: 200px
			left: 0
			top: 0
			background-color: rgba(#000,.7)
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			align-content: space-between
			align-items: center
			flex-direction: column
			opacity: 0
			&-wp
				i
					width: 20px
					height: 20px
					display: block
					margin: 0 auto
					margin-bottom: 12px
				span
					color: #fff
					font-size: 12px
					line-height: 21px
	&__title
		color: #454545
		font-family: "GothamProMedium", sans-serif
		font-size: 14px
		line-height: 21px
		display: block
		padding-bottom: 10px
	&__description
		font-size: 14px
		color: #454545
		line-height: 21px

.reviews
	padding-bottom: 20px
	&__item
		margin-bottom: 30px
	&__data
		text-align: center
		padding-bottom: 6px
		span
			display: inline-block
			color: #454545
			font-size: 14px
			line-height: 21px
			font-family: "GothamProMedium", sans-serif
	&__img
		width: 142px
		height: 200px
		margin: 0 auto
		overflow: hidden
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-content: space-between
		align-items: center
		flex-direction: column
		cursor: pointer
		position: relative
		img
			display: block
			min-width: 100%
			min-height: 100%

.popup-bg
	position: fixed
	z-index: 990
	left: 0
	top: 0
	bottom: 0
	right: 0
	width: 100%
	height: 100%
	background-color: rgba(#000,.6)
	display: none
.feedback-popup
	position: fixed
	width: 792px
	background-color: #fff
	z-index: 999
	margin: 0 auto
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	padding: 50px 60px
	display: none
	&__wrapper
		position: relative
	&__title
		text-align: center
		padding-bottom: 40px
		b
			color: #323232
			font-size: 25px
			letter-spacing: 0.25px
			line-height: 45px
			display: inline-block
	&__input
		input
			display: block
			width: 100%
			height: 44px
			border: 1px solid #d8d9d9
			border-radius: 22px
			padding: 0 16px
			color: #323232
			font-size: 12px
			letter-spacing: 0.25px
			&:focus
				border-color: #0088ed
	&__button
		padding-top: 30px
		text-align: center
		button
			height: 54px
			padding: 0 40px
			display: inline-block
			line-height: 52px
			border: 1px solid #0088ed
			background-color: #0088ed
			text-align: center
			color: #fff
			font-size: 14px
			letter-spacing: 0.25px
			border-radius: 27px
			&:hover
				background-color: transparent
				color: #0088ed
	&__close
		position: absolute
		display: block
		width: 13px
		height: 13px
		background-image: url(../img/icon/close.png)
		background-repeat: no-repeat
		background-position: center center
		right: -30px
		top: -20px
		cursor: pointer

.calculation-popup
	position: fixed
	width: 792px
	background-color: #fff
	z-index: 999
	margin: 0 auto
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	padding: 50px 60px
	display: none
	&__wrapper
		position: relative
	&__close
	&__title
		text-align: center
		b
			color: #323232
			font-size: 25px
			letter-spacing: 0.25px
			line-height: 45px
			display: inline-block
	&__person
		display: block
		font-size: 0
		text-align: center
		padding-bottom: 18px
		&-item
			display: inline-block
			margin: 0 13px
			input
				display: none
			label
				font-size: 16px
				line-height: 45px
				color: #323232
				letter-spacing: 0.25px
				cursor: pointer
input[name="c-person"]:checked + label
	color: #0d7ad6

.sequence
	padding-bottom: 48px
	&__item
		position: relative
		padding-left: 40px
		margin-bottom: 30px
	&__numb
		position: absolute
		left: 0
		top: 0
		bottom: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		span
			color: #0088ed
			font-size: 25px
			letter-spacing: 0.25px
	&__text
		p
			color: #323232
			font-size: 13px
			line-height: 19px
			letter-spacing: 0.25px
.transport
	margin-top: 30px
	span
		font-size: 14px
		color: #323232
		line-height: 40px
		letter-spacing: 0.25px
		display: inline-block
	&__block
		display: inline-block
		padding-left: 10px
		font-size: 0
		&-item
			display: inline-block
			padding: 0 10px
			&::before
				display: none !important
			input
				display: none
			label
				color: #323232
				font-size: 14px
				line-height: 40px
				cursor: pointer
input[name="s-transport"]:checked + label
	color: #0d7ad6

.t-addr
	text-align: left
	padding-top: 25px
	&__item
		position: relative
		input
			width: 100%
			display: block
			height: 44px
			border-radius: 22px
			border: 1px solid #d8d9d9
			padding: 0 44px 0 16px
			font-size: 12px
			color: #323232
			position: relative
			&:focus
				border-color: #0088ed
		&::after
			content: ''
			width: 10px
			height: 14px
			display: block
			background-image: url(../img/icon/geo.png)
			background-repeat: no-repeat
			background-position: center center
			right: 18px
			top: 50%
			margin-top: -7px
			position: absolute
	&__bottom
		padding-top: 16px
		position: relative
		input
			border-radius: none
			border: none
			border-bottom: 1px solid #d8d9d9
			display: block
			width: 100%
			font-size: 12px
			height: 30px
			padding-left: 30px
			padding-right: 8px
			&:focus
				border-color: #0088ed
		&::before
			content: ''
			display: block
			width: 18px
			height: 18px
			background-color: #0088ed
			border-radius: 2px
			background-image: url("../img/icon/ceck.png")
			background-repeat: no-repeat
			background-position: center center
			position: absolute
			left: 0
			bottom: 6px
	label
		margin-bottom: 25px
		display: inline-block
		color: #323232
		font-size: 12px
		letter-spacing: 0.25px

.t-info
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	padding-top: 48px
	&__item
		.ui-selectmenu-button.ui-button
			width: 200px
			border: 1px solid #d8d9d9
			background-color: transparent
			border-radius: 22px !important
			height: 44px
			padding: 12px 10px
			letter-spacing: 0.25px
			display: block
			.ui-selectmenu-text
				font-size: 12px
				color: #878787
		&-st
			input
				width: 98px !important
		input
			display: block
			height: 44px
			border-radius: 22px
			border: 1px solid #d8d9d9
			padding: 0 10px
			font-size: 12px
			color: #323232
			text-align: center
			width: 100%
		&-big
			width: 200px
		&-big-1
			input
				width: 200px
		&-bg
			width: 336px
		&-plus
			margin-left: 10px
			width: 89px
			button
				display: block
				height: 44px
				border-radius: 22px
				border: 1px solid #d8d9d9
				padding: 0 10px
				font-size: 12px
				color: #323232
				text-align: center
				width: 100%
				background-color: transparent
				font-size: 20px
				color: #0088ed
	&__line
		height: 1px
		background-color: #ebecec
		box-sizing: border-box
		display: block
		width: 40px
		margin: 0 10px
		position: relative
		top: 50%
		margin-top: -0.5px

.t-character
	margin-top: 38px
	.ui-selectmenu-button.ui-button
		width: auto
		border: none
		border-bottom: 1px solid #0088ed
		background-color: transparent
		border-radius: 0 !important
		padding: 0 6px
		color: #323232
		font-size: 12px
		letter-spacing: 0.25px
		display: inline-block
	label
		color: #323232
		font-size: 14px
		letter-spacing: 0.25px
		margin-right: 14px
		display: inline-block

.t-amenities
	&__title
		padding-top: 40px
		padding-bottom: 7px
		b
			color: #323232
			font-size: 16px
			font-family: "GothamProMedium", sans-serif
	&__item
		padding: 13px 0
		input
			display: none
		label
			font-size: 14px
			color: #323232
			position: relative
			padding-left: 30px
			display: inline-block
			&::before
				content: ''
				width: 18px
				height: 18px
				border-radius: 2px
				display: block
				background-color: #eef1f4
				position: absolute
				left: 0
				top: 0
input[name="t-amenities-1"]:checked + label::before
	background-color: #0088ed
	background-image: url(../img/icon/ceck.png)
	background-repeat: no-repeat
	background-position: center center
input[name="t-amenities-2"]:checked + label::before
	background-color: #0088ed
	background-image: url(../img/icon/ceck.png)
	background-repeat: no-repeat
	background-position: center center
input[name="t-amenities-3"]:checked + label::before
	background-color: #0088ed
	background-image: url(../img/icon/ceck.png)
	background-repeat: no-repeat
	background-position: center center

.p-button
	text-align: right
	padding-top: 10px
	a
		height: 54px
		display: inline-block
		padding: 0 48px
		line-height: 52px
		border: 1px solid #0088ed
		background-color: #0088ed
		border-radius: 27px
		text-transform: uppercase
		text-align: center
		font-size: 12px
		font-family: "GothamProBold", sans-serif
		color: #fff
		&:hover
			text-decoration: none
			color: #0088ed
			background-color: transparent

.p-info
	padding-bottom: 36px
	p
		font-size: 14px
		line-height: 24px
		color: #323232

.contacts
	&__left
		height: 418px
		overflow: auto
	&__right
		iframe
			display: block
			width: 100%
			height: 418px
	&__item
		b
			color: #323232
			font-size: 18px
			line-height: 19px
			font-family: "GothamProMedium", sans-serif
			display: block
			padding: 12px 0
		p
			color: #323232
			font-size: 14px
			line-height: 19px
			display: block
			padding-bottom: 12px
		a
			color: #008be9
			font-size: 14px
			line-height: 19px
			text-decoration: underline
			margin-bottom: 12px
			display: inline-block
			&:hover
				text-decoration: none
				color: #008be9

#ascrail2000
	background-color: #eceded
	opacity: 1 !important
	width: 2px !important
	margin: 32px 0 !important
	height: 354px !important
#ascrail2000 > div
	background-color: #008be9 !important
	width: 6px !important
	margin-right: -2px !important
	height: 206px !important

.additional
	padding-top: 88px
	padding-bottom: 30px
	&__title
		color: #323232
		font-size: 18px
		line-height: 19px
		font-family: "GothamProBold", sans-serif
		padding-bottom: 16px
	&__item
		padding-bottom: 16px
		a
			color: #323232
			font-size: 14px
			line-height: 19px
			display: inline-block
			&:hover
				color: #323232
				text-decoration: none
		b
			display: block
			color: #323232
			font-size: 14px
			line-height: 19px
			font-family: "GothamProMedium", sans-serif
		p
			font-size: 14px
			line-height: 19px
			color: #323232
		.skype
			color: #008be9
			font-size: 14px
			line-height: 19px
			font-family: "GothamProMedium", sans-serif
		.email
			color: #000
			font-size: 14px
			line-height: 19px
			font-family: "GothamProMedium", sans-serif
			display: block
	&__description
		padding-top: 20px
		color: #323232
		font-size: 14px
		line-height: 19px
	&__soc
		font-size: 0
		padding-top: 6px
		&-item
			display: inline-block
			padding-right: 12px
			&:last-child
				padding-right: 0
		&-link
			display: block
			width: 25px
			height: 25px
			background-repeat: no-repeat
			background-position: center center

.page__toft
	height: 560px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-align-items: center
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center
.toft
	&__title
		padding-bottom: 34px
		h1
			color: #fff
			font-size: 40px
			line-height: 45px
			letter-spacing: 0.25px
			text-transform: uppercase
			font-family: "GothamProBlack", sans-serif
	&__list
	&__item
		position: relative
		color: #fefefe
		font-size: 14px
		line-height: 15px
		letter-spacing: 0.25px
		margin: 6px 0
		padding-left: 12px
		&::before
			content: ''
			width: 5px
			height: 4px
			display: block
			border-radius: 50%
			-webkit-border-radius: 50%
			background-color: #fefefe
			position: absolute
			left: 0
			top: 7px
	&__right
		background-color: #fff
		padding: 28px 40px
		width: 100%
		margin-left: 75px
		box-sizing: border-box
		.t-info__line
			margin-left: 15px
			margin-right: 15px

.tabs__title
	padding-bottom: 14px
	b
		color: #323232
		font-size: 14px
		line-height: 15px
		text-transform: uppercase

.b-tabs
	&__item
		padding-left: 17px
		position: relative
		display: block
		cursor: pointer
		margin: 10px 0
		font-size: 14px
		color: #323232
		&::before
			content: ''
			width: 5px
			height: 5px
			background-color: #0088ed
			display: block
			position: absolute
			left: 0
			top: 8px
	&-sub
		padding: 6px 0 0
		&__item
			padding-left: 20px
			margin: 7px 0
			font-size: 14px
			color: #323232

.news
	&__item
		margin: 10px 0
	&__data
		display: block
		color: rgba(#0088ed,.6)
		line-height: 15px
		font-size: 12px
	&__title
		font-size: 13px
		color: #323232
		line-height: 15px
		text-decoration: underline
		&:hover
			text-decoration: none
			color: #323232

.amen
	padding-bottom: 50px

.optionally
	&__title
		text-align: center
		padding-bottom: 58px
		b
			display: inline-block
			color: #323232
			font-size: 35px
			line-height: 22px
			letter-spacing: 0.25px
			font-family: "GothamProBold", sans-serif
			text-transform: uppercase
	&__block
	&__sub-title
		b
			color: #323232
			font-size: 14px
			text-transform: uppercase
			letter-spacing: 0.25px
			font-family: "GothamProBold", sans-serif
	&__list
		padding: 10px 0 24px
	&__item
		margin: 10px 0
		color: #323232
		font-size: 14px
		letter-spacing: 0.25px
		padding-left: 12px
		position: relative
		line-height: 15px
		&::before
			content: ''
			border: 5px solid transparent
			border-left: 6px solid #323232
			position: absolute
			left: 0
			top: 3px
	&__img
		img
			display: block
			width: 100%

.airlines__title
	padding-bottom: 96px
.airlines
	&__slider
		&-wrapper
			overflow: hidden
		&-item
			height: 120px
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important
			justify-content: center
			align-content: space-between
			align-items: center
			flex-direction: column
			img
				display: block
				max-width: 80%
				max-height: 100%

.your-data
	padding-top: 30px
	p
		color: #323232
		font-family: "GothamProMedium", sans-serif
		font-size: 16px
		line-height: 40px
	input
		-moz-border-bottom-colors: none
		-moz-border-left-colors: none
		-moz-border-right-colors: none
		-moz-border-top-colors: none
		border-color: currentcolor currentcolor #d8d9d9
		border-image: none
		border-style: none none solid
		border-width: medium medium 1px
		display: block
		font-size: 12px
		height: 40px
		padding: 0
		width: 300px
		float: left
		&:focus
			border-color: #0088ed
	button
		height: 40px
		border-radius: 20px
		background-color: #0088ed
		border: 1px solid #0088ed
		line-height: 28px
		color: #fff
		font-size: 14px
		padding: 0 30px
		display: block
		float: right
		font-family: "GothamProBold", sans-serif

.dop-info
	textarea
		display: block
		width: 100%
		height: 30px
		line-height: 26px
		border-top: 2px solid transparent
		border-bottom: 2px solid #d8d9d9
		border-left: none
		border-right: none
		font-size: 14px
		resize: none
		&:focus
			border-bottom-color: #0088ed

.clients-buttons
	text-align: center
	padding: 40px 0 20px
	&__first
		background-color: #008be9
		text-align: center
		color: #fff
		font-size: 14px
		letter-spacing: 0.25px
		display: inline-block
		width: auto
		border: none
		border-radius: 20px
		height: 40px
		line-height: 40px
		padding: 0 30px
		&:hover
			text-decoration: none
			color: #fff
		&:focus, &:active
			text-decoration: none
			color: #fff
	&__last
		background-color: transparent
		text-align: center
		color: #000
		font-size: 14px
		letter-spacing: 0.25px
		display: inline-block
		width: auto
		border: none
		border-radius: 20px
		height: 40px
		line-height: 40px
		padding: 0 30px
		font-family: "GothamProMedium", sans-serif
		&:hover
			text-decoration: none
			color: #000
		&:focus, &:active
			text-decoration: none
			color: #000

.clients-description
	text-align: center
	p
		color: #878787
		font-size: 12px
		letter-spacing: 0.25px
		line-height: 19px

.line
	background-color: #f4f5f5
	margin: 0

.t-info__item-menu .ui-selectmenu-button.ui-button
	width: 150px

.busines-block
	font-size: 0
	margin-top: 30px !important
	&__item
		font-size: 15px
		display: inline-block
		padding-left: 0 !important
		margin-right: 15px !important
		color: #878787 !important
		font-family: "GothamProMedium", sans-serif
		cursor: pointer
		&::before
			display: none !important
		&-active
			color: #0088ed !important
	&__item-1
		font-size: 15px
		display: inline-block
		padding-left: 0 !important
		margin-right: 15px !important
		color: #878787 !important
		font-family: "GothamProMedium", sans-serif
		cursor: pointer
		&::before
			display: none !important
		&-active
			color: #0088ed !important

.your-data-1 input
	width: 215px

.t-info__item-menu-1 .ui-selectmenu-button.ui-button
	width: 336px

.t-info__item-6
	width: 226px

.t-info-nf
	display: block
	@extend .clearfix
	.t-info__item
		float: left
		height: 44px

.dop-info-bg
	padding: 15px 0
	textarea
		height: 44px
		line-height: 42px
		overflow: hidden

.p-description
	margin-top: -60px
	p
		color: #323232
		font-size: 13px
		letter-spacing: 0.25px
		line-height: 19px
		font-family: "GothamProLight", sans-serif
		text-decoration: underline

.status
	&__title
		text-align: left
		p
			color: #000
			font-family: "GothamProLight",sans-serif
			font-size: 16px
			letter-spacing: 0.25px
			line-height: 19px
			display: inline-block
			span
				font-family: "GothamProBold", sans-serif

.t-info__item
	input[type="button"]
		background-color: #1994ef
		color: #fff
		border-color: #1994ef

strong
	color: #000
	font-weight: normal
	font-family: "GothamProBold"

.zaqotp
	&__item
		padding-left: 50px !important
		margin: 0 !important
		height: 60px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		&::before
			display: none !important
		span
			position: absolute
			left: 0
			font-size: 20px

.content .vid-per ul li
	margin: 0
.content .vid-per .transport__block
	padding-left: 0
	margin-top: -6px !important
	padding-bottom: 20px

.n-block
	padding-top: 40px
	.n-block__item:last-child
		margin-bottom: 0 !important
	&__item
		position: relative
		border: 1px solid #f4f5f5
		padding: 20px 0
		padding-left: 340px
		margin-bottom: 40px
	&__title
		a
			color: #323232
			font-family: "GothamProBold",sans-serif
			font-size: 16px
			line-height: 21px
			text-transform: uppercase
			&:hover, &:focus, &:active
				text-decoration: none
				color: #0088ed
	&__img
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 300px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		img
			width: 100%
	&__tags
		font-size: 0 !important
		margin: 10px 0 !important
		&-item
			display: inline-block
			font-size: 14px !important
			color: #878787 !important
			margin: 0 !important
			padding: 0 !important
			padding-right: 17px !important
			&::before
				display: none !important
			&::after
				content: ''
				width: 1px
				display: block
				height: 100%
				position: absolute
				background-color: #878787
				right: 8px
				top: 0
				bottom: 0

.n-block__tags
	.n-block__tags-item:last-child
		&::after
			display: none !important

.n-block__description
	padding-right: 20px

.n-block__item-ni
	padding-left: 20px

.fiz-block,
.fiz-block-1
	display: none

.number-act
	padding-top: 40px
	input[type="text"]
		height: 30px
		background-color: transparent
		border: none
		border-bottom: 1px solid #989898
		text-align: center
		font-size: 14px
		width: 50%

	input[type="button"]
		background-color: #008be9
		border: medium none
		border-radius: 20px
		color: #fff
		display: inline-block
		font-size: 14px
		height: 40px
		letter-spacing: 0.25px
		line-height: 40px
		padding: 0 30px
		text-align: center
		width: auto
		margin-left: 10px

.table-act
	margin-right: 30px
	td
		color: #323232
		font-family: "GothamProBold",sans-serif
		font-size: 15px
		line-height: 21px
		text-transform: uppercase
		padding-bottom: 20px
		&:last-child
			text-align: right
			width: 40%
		span
			font-size: 24px
			font-family: "GothamProBold",sans-serif
			color: #008be9
			&::after
				content: 'руб./ кг'
				text-transform: none
				font-size: 15px
				color: #323232
				display: inline-block
				padding-left: 5px

.share
	&__soc
		padding: 25px 0
		&-text
			padding: 0 10px 16px
			b
				color: #323232
				cursor: pointer
				display: inline-block
				font-size: 14px
				text-transform: uppercase

		&-block
			font-size: 0
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
		&-item
			display: inline-block
		&-link
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-moz-box-align: center
			align-items: center
			background-color: #454545
			height: 24px
			justify-content: center
			width: 24px
			i
				font-size: 16px
				color: #fff

.card-news
	@extend .clearfix
	padding-bottom: 30px
	&__left
		float: left
		a
			color: #878787
			font-family: "GothamProBold",sans-serif
			font-size: 16px
			line-height: 21px
			text-transform: uppercase
	&__right
		float: right
		color: #d8d9d9
		a
			color: #878787
			font-family: "GothamProBold",sans-serif
			font-size: 16px
			line-height: 21px
			text-transform: uppercase

.card__bottom
	padding-top: 40px
	&-text
		p
			color: #323232
			font-size: 12px

.bg-popup
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	background-color: rgba(#000,.7)
	z-index: 990
	display: none

.lic-popup
	position: fixed
	width: 450px
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	margin: 0 auto
	z-index: 999
	display: none
	&__wrapper
		img
			width: 100%
			height: auto

.feedback-popup-ok
	position: fixed
	width: 792px
	background-color: #fff
	z-index: 999
	margin: 0 auto
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	padding: 50px 60px
	display: none;
	&__title
		text-align: center
		b
			color: #323232
			font-size: 18px
			letter-spacing: 0.25px
			line-height: 24px
			display: inline-block