@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "GothamProRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	padding-top: 9px
	padding-bottom: 50px
	&__logo
	&__nav
		padding-top: 10px
	&__phone
		padding-top: 15px

.page
	&__index-slider
		position: relative
	&__calculation

.logo
	padding-left: 35px
	&__link
		position: relative
		width: 191px
		height: 55px
		display: block
		img
			display: block
			width: 100%
			height: 100%
		span
			display: inline-block
			position: absolute
			right: -2px
			bottom: 0
			color: #323232
			font-size: 9px
			text-transform: uppercase
			letter-spacing: 0.25px

.nav
	font-size: 0
	&__item
		display: inline-block
		position: relative
	&__link
		font-family: "GothamProBold", sans-serif
		color: #323232
		font-size: 14px
		line-height: 50px
		padding: 0 30px
		height: 50px
		display: block
		@include transition(all 0.5s ease-in-out)
		&:hover, &-active
			background-color: #0d8eee
			text-decoration: none
			color: #fff

.sub-nav
	background-color: #0d8eee
	position: absolute
	left: 0
	top: 50px
	z-index: 100
	display: none
	&-2
		left: 252px
		top: 0
	&__item
	&__link
		position: relative
		display: block
		background-color: #0d8eee
		height: 50px
		width: 252px
		&:hover
			background-color: #0186e0
		&-active
			background-color: #0186e0
		&-arrow
			display: block
			font-size: 14px
			color: #fff
			position: absolute
			right: 30px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
		span
			color: #fff
			font-size: 14px
			position: absolute
			display: block
			left: 25px
			right: 25px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)

.phone
	text-align: right
	padding-right: 35px
	&__number
		color: #323232
		font-size: 16px
		font-family: "GothamProBold", sans-serif
		display: inline-block
		&:hover
			color: #323232
			text-decoration: none
	&__feedback
		color: #323232
		font-size: 14px
		text-decoration: underline
		display: inline-block
		&:hover
			text-decoration: none
			color: #323232

.index-links
	position: absolute
	width: 37px
	left: -63px
	top: 50%
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	z-index: 10
	&__item
		padding: 5px 0
	&__link
		width: 37px
		height: 37px
		display: block
		border: 1px solid #0088ed
		background-color: #0088ed
		padding-left: 8px
		padding-top: 8.5px
		position: relative
		&:hover
			background-color: transparent
			.index-links__icon
				background-position-x: -21px !important
		span
			height: 28px
			line-height: 28px
			background-color: #0088ed
			display: block
			position: absolute
			top: 4px
			padding: 0 14px
			font-size: 12px
			color: #fff
			letter-spacing: 0.25px
			left: 36px
			display: none
	&__icon
		width: 19px
		height: 18px
		display: block
		background-image: url(../img/icon/sprite.png)
		background-repeat: no-repeat

.index-slider
	height: 390px
	position: relative
	&__description
	&__wrapper
		height: 390px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		p
			color: #323232
			font-size: 18px
			line-height: 22px
			letter-spacing: 0.25px
			cursor: default
	&__title
		padding-bottom: 25px
		display: block
		width: 100%
		h2
			color: #323232
			font-size: 40px
			line-height: 45px
			font-family: "GothamProBlack", sans-serif
			text-transform: uppercase
			cursor: default
	&__img
		text-align: left
		position: relative
		img
			display: inline-block
			width: auto
			height: 100%
	.slick-dots
		width: 10px
		position: absolute
		right: -36px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		li
			padding: 9px 0
			display: block
			button
				width: 10px
				height: 10px
				display: block
				text-indent: -9999px
				padding: 0
				margin: 0
				background-color: #c5e4fb
				border: none
				border-radius: 50%
				-webkit-border-radius: 50%
		.slick-active
			button
				background-color: #0088ed

.cg-active
	&::before
		background-position: right center !important

.calculation
	position: relative
	&-geo
		&::before
			content: ''
			display: block
			width: 14px
			height: 19px
			background-image: url(../img/icon/geo.png)
			background-repeat: no-repeat
			background-position: left center
			position: absolute
			left: 19px
			top: 50%
			margin-top: -9.5px
	&__city
		height: 36px
		border-radius: 18px
		border: 1px solid #323232
		padding-left: 40px
		padding-right: 40px
		vertical-align: middle
		display: block
		width: 100%
		font-size: 12px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		&::-webkit-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&::-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-ms-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:focus
			border-color: #0088ed
			color: #0088ed
			&::-webkit-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&::-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-ms-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
	&__places
		height: 36px
		border-radius: 18px
		border: 1px solid #323232
		padding-left: 53px
		padding-right: 19px
		text-align: right
		vertical-align: middle
		display: block
		width: 60%
		font-size: 12px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		font-family: "GothamProBold", sans-serif
		letter-spacing: 0.25px
		padding-bottom: 1.1px
	&-pl
		position: relative
		span
			position: absolute
			left: 19px
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
			color: #323232
			font-size: 12px
			letter-spacing: 0.25px
	&__value
		display: block
		margin-top: 8px
		height: 20px
		border: none
		border-bottom: 1px solid #323232
		border-top: 1px solid transparent
		font-size: 12px
		color: #008be9
		&-wp
			display: inline-block
			position: relative
		&::-webkit-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&::-moz-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:-ms-input-placeholder
			color: #323232
			font-size: 12px
			opacity: 1
		&:focus
			border-bottom-color: #0088ed
			color: #0088ed
			&::-webkit-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&::-moz-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
			&:-ms-input-placeholder
				color: #0088ed
				font-size: 12px
				opacity: 1
	&-tr
		font-size: 11.69px
		color: #323232
		.calculation__value
			display: inline-block
			position: relative
		span
			display: inline-block
			padding-left: 5px
			padding-right: 5px
	&__button
		height: 36px
		line-height: 36px
		background-color: #008be9
		text-align: center
		color: #fff
		font-size: 12px
		letter-spacing: 0.25px
		display: block
		width: 100%
		border-radius: 18px
		&:hover
			text-decoration: none
			color: #fff
		&:focus, &:active
			text-decoration: none
			color: #fff
	&__text
		position: absolute
		top: 30px
		left: 2px
		display: block
		font-size: 8px
		letter-spacing: 0.25px
		color: #008be9
		display: none