@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1322px)
	.logo, .phone
		padding-left: 0
		padding-right: 0
	.nav__link
		padding: 0 20px
	.nav
		display: inline-block
	.header__nav
		text-align: center
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.our-services__right
		width: 608px
	.our-services__right-block
		width: auto
		height: 100%
	.our-services__right-block img
		min-height: 100%
		min-width: 100%
	.promotions__right
		padding-left: 20px !important
		padding-right: 20px !important
		padding-top: 18px !important
	.index-slider__img img
		max-height: 100%
		max-width: 100%
	.calculation-tr span
		padding-left: 0
		padding-right: 0
	.calculation__places
		width: 75%
	.phone
		margin-left: -20px
	.nav__link
		padding: 0 10px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.header
		position: relative
		padding-bottom: 7px
		z-index: 999
	.nav
		display: none
	.logo__link span
		display: none
	.header__nav
		padding-top: 17px
	.mob-nav__wp
		display: none
		position: absolute
		background-color: #fff
		left: 0
		right: 0
		top: 71px
		z-index: 990
	.nav__button
		text-align: right
		a
			width: 22px
			height: 19px
			background-image: url(../img/icon/5.png)
			background-repeat: no-repeat
			background-position: left center
			display: inline-block
	.close
		a
			background-position: right center
	.nav__item
		width: 100%
	.nav__link
		display: block
		text-align: left
		padding-left: 20px
		padding-right: 20px
		text-align: center
	.page__bg
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(#000,.6)
		z-index: 999
		display: none
	.index-links
		position: static
		left: auto
		top: auto
		width: 100%
		padding: 0 20px 24px
		transform: none
		-webkit-transform: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
	.index-links__item
		display: block
		padding: 0
	.index-links__link
		width: 60px
		height: 60px
		padding-left: 14px
		padding-top: 14.5px
		&:hover
			.index-links__icon
				background-position-x: right !important
	.index-links__icon
		background-image: url(../img/icon/mob-sprite.png)
		width: 30px
		height: 29px
	.phone
		text-align: left !important
		padding: 30px 20px
		text-align: center !important
	.sub-nav
		width: 100%
		position: static
		left: auto
		top: auto
	.sub-nav__link
		width: 100%
	.sub-nav__link span
		left: 35px
		right: 35px
	.index-slider
		height: auto !important
	.mob-calculation
		&__button
			width: 100%
			padding: 0 8px
			margin-bottom: 20px
			a
				height: 60px
				background-color: #008be9
				display: block
				width: 100%
				text-align: center
				line-height: 60px
				border-radius: 30px
				color: #fff
				font-size: 14px
				&:hover
					text-decoration: none
					color: #fff
	.index-slider .slick-dots
		display: none !important
	.index-slider__img
		text-align: center
	.index-slider__wrapper
		display: block
		padding-top: 25px
		height: auto
	.index-slider__description
		text-align: center
	.index-slider__title h2
		font-size: 20px
		line-height: 30px
	.index-slider__wrapper p
		font-size: 14px
	.index-slider__img
		height: 252px
		width: 252px
		margin: 0 auto
		text-align: left
	.index-slider__img img
		height: 100%
		max-width: 200% !important
		display: inline-block
	.wht-c
		margin-left: -15px !important
		margin-right: -15px !important
		padding-left: 15px
		padding-right: 15px
		width: auto
		margin-top: 0 !important
		margin-bottom: 0 !important
	.page__advantages
		padding-top: 0
		padding-bottom: 24px
	.promotions__title b
		color: #323232
		font-size: 20px
		line-height: 30px
	.row
		padding-top: 0 !important
	.promotions__slider .slick-arrow
		width: 28px
		height: 28px
		transform: none
		-webkit-transform: none
		top: 0
	.promotions__slider .slick-prev
		left: 0
	.promotions__slider .slick-next
		right: 0
	.promotions__slider .slick-prev::after
		left: 10px
	.promotions__slider .slick-next::after
		right: 10px
	.promotions__item .col-md-12 > div
		border: none !important
		background-color: #fff
	.promotions .column-3 input
		display: none
	.promotions__stock
		display: none
	.bht
		background-color: #fff
	.subscription__title b
		color: #323232
		font-size: 20px
		line-height: 30px
	.subscription__description p
		color: #323232
		font-size: 14px
		line-height: 22px
	.mob-subscription
		margin-left: -15px
		margin-right: -15px
		width: auto
		background-color: #008be9
		padding-left: 40px
		padding-right: 40px
		padding-top: 40px
	.subscription__button a
		padding-left: 0
		padding-right: 0
		width: 100%
		text-align: center
	.subscription__button
		padding-bottom: 40px
	.wht
		margin-top: 0 !important
	.our-services__title b
		font-size: 20px
		line-height: 30px
	.promotions__left
		display: none
	.sending__title b
		font-size: 20px
		line-height: 30px
	.sending__title
		padding: 25px 0 50px
	.sending__zag b
		font-size: 16px
		line-height: 22px
	.sending__stock
		display: none
	.our-services
		display: none
	.traffic__title b
		font-size: 20px
		color: #323232
		font-family: "GothamProBold", sans-serif
		line-height: 30px
	.traffic
		padding-left: 12px !important
		padding-right: 12px !important
	.traffic__stock
		width: auto
		margin-left: -15px
		margin-right: -15px
	.questions__title b
		font-size: 20px
		line-height: 30px
	.questions
		padding-right: 0 !important
		padding-left: 40px
	.questions__item .plus-wp
		left: -30px
	.seo
		.mob-seo-text
			display: block
	.seo
		p
			display: none
	.footer__top
		padding: 26px 0
		.row
			padding-bottom: 0 !important
	.f-logo__link span
		display: none
	.f-logo__link
		width: 140px
		height: auto
	.footer__bottom
		height: auto
		padding-top: 16px
		padding-bottom: 16px
		background-color: #000
	.copy p
		line-height: 19px
		font-size: 12px
	.developer p
		line-height: 19px
		font-size: 14px
	.developer
		text-align: left
		padding-top: 12px
	.copy
		width: 226px
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.mob-nav__wp
		display: none
	.nav
		display: block
	.mob-our-services
		display: none
	.mob-seo-text
		display: none
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

