html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before {
  content: '';
  display: table;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "GothamProRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  padding-top: 9px;
  padding-bottom: 50px;
}

.header__nav {
  padding-top: 10px;
}

.header__phone {
  padding-top: 15px;
}

.logo {
  padding-left: 35px;
}

.logo__link {
  position: relative;
  width: 191px;
  height: 55px;
  display: block;
}

.logo__link img {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__link span {
  display: inline-block;
  position: absolute;
  right: -2px;
  bottom: 0;
  color: #323232;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.nav {
  font-size: 0;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__link {
  font-family: "GothamProBold", sans-serif;
  color: #323232;
  font-size: 14px;
  line-height: 50px;
  padding: 0 30px;
  height: 50px;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__link:hover, .nav__link-active {
  background-color: #0d8eee;
  text-decoration: none;
  color: #fff;
}

.sub-nav {
  background-color: #0d8eee;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  display: none;
}

.sub-nav-2 {
  left: 252px;
  top: 0;
}

.sub-nav__link {
  position: relative;
  display: block;
  background-color: #0d8eee;
  height: 50px;
  width: 252px;
}

.sub-nav__link:hover {
  background-color: #0186e0;
}

.sub-nav__link-active {
  background-color: #0186e0;
}

.sub-nav__link-arrow {
  display: block;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.sub-nav__link span {
  color: #fff;
  font-size: 14px;
  position: absolute;
  display: block;
  left: 25px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.phone {
  text-align: right;
  padding-right: 35px;
}

.phone__number {
  color: #323232;
  font-size: 16px;
  font-family: "GothamProBold", sans-serif;
  display: inline-block;
}

.phone__number:hover {
  color: #323232;
  text-decoration: none;
}

.phone__feedback {
  color: #323232;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
}

.phone__feedback:hover {
  text-decoration: none;
  color: #323232;
}

.index-slider {
  height: 390px;
  position: relative;
}

.index-slider__wrapper {
  height: 390px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-slider__wrapper p {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  cursor: default;
}

.index-slider__title {
  padding-bottom: 25px;
  display: block;
  width: 100%;
}

.index-slider__title h2 {
  color: #323232;
  font-size: 40px;
  line-height: 45px;
  font-family: "GothamProBlack", sans-serif;
  text-transform: uppercase;
  cursor: default;
}

.index-slider__img {
  text-align: center;
}

.index-slider__img img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.index-slider .slick-dots {
  width: 10px;
  position: absolute;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.index-slider .slick-dots li {
  padding: 9px 0;
  display: block;
}

.index-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  background-color: #c5e4fb;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.index-slider .slick-dots .slick-active button {
  background-color: #0088ed;
}
