html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .our-services__bottom:after, .menu__email:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .our-services__bottom:before, .menu__email:before {
  content: '';
  display: table;
}

input {
  background-color: transparent;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "GothamProRegular", sans-serif;
  overflow-x: hidden;
  background-color: #f2f4f5;
}

.hidden {
  display: none;
}

.header {
  padding-top: 9px;
  padding-bottom: 50px;
  background-color: #fff;
}

.header__nav {
  padding-top: 10px;
}

.header__phone {
  padding-top: 15px;
}

.ser {
  background-color: #f2f4f5;
}

.wht {
  background-color: #fff;
}

.bht {
  background-color: #008be9;
}

.page__index-slider {
  position: relative;
}

.page__advantages {
  padding-top: 40px;
  padding-bottom: 64px;
}

.logo {
  padding-left: 35px;
}

.logo__link {
  position: relative;
  width: 191px;
  height: 55px;
  display: block;
}

.logo__link img {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__link span {
  display: inline-block;
  position: absolute;
  right: -2px;
  bottom: 0;
  color: #323232;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.nav {
  font-size: 0;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__link {
  font-family: "GothamProBold", sans-serif;
  color: #323232;
  font-size: 14px;
  line-height: 50px;
  padding: 0 30px;
  height: 50px;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__link:hover, .nav__link-active {
  background-color: #0d8eee;
  text-decoration: none;
  color: #fff;
}

.sub-nav {
  background-color: #0d8eee;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  display: none;
}

.sub-nav-2 {
  left: 252px;
  top: 0;
}

.sub-nav__link {
  position: relative;
  display: block;
  background-color: #0d8eee;
  height: 50px;
  width: 252px;
}

.sub-nav__link:hover {
  background-color: #0186e0;
}

.sub-nav__link-active {
  background-color: #0186e0;
}

.sub-nav__link-arrow {
  display: block;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.sub-nav__link span {
  color: #fff;
  font-size: 14px;
  position: absolute;
  display: block;
  left: 25px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.phone {
  text-align: right;
  padding-right: 35px;
}

.phone__number {
  color: #323232;
  font-size: 16px;
  font-family: "GothamProBold", sans-serif;
  display: inline-block;
}

.phone__number:hover {
  color: #323232;
  text-decoration: none;
}

.phone__feedback {
  color: #323232;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
}

.phone__feedback:hover {
  text-decoration: none;
  color: #323232;
}

.index-links {
  position: absolute;
  width: 37px;
  left: -63px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 10;
}

.index-links__item {
  padding: 5px 0;
}

.index-links__link {
  width: 37px;
  height: 37px;
  display: block;
  border: 1px solid #0088ed;
  background-color: #0088ed;
  padding-left: 8px;
  padding-top: 8.5px;
  position: relative;
}

.index-links__link:hover {
  background-color: transparent;
}

.index-links__link:hover .index-links__icon {
  background-position-x: -21px !important;
}

.index-links__link span {
  height: 28px;
  line-height: 28px;
  background-color: #0088ed;
  display: block;
  position: absolute;
  top: 4px;
  padding: 0 14px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.25px;
  left: 36px;
  display: none;
}

.index-links__icon {
  width: 19px;
  height: 18px;
  display: block;
  background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
}

.index-slider {
  height: 390px;
  position: relative;
}

.index-slider__wrapper {
  height: 390px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-slider__wrapper p {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  cursor: default;
}

.index-slider__title {
  padding-bottom: 25px;
  display: block;
  width: 100%;
}

.index-slider__title h2 {
  color: #323232;
  font-size: 40px;
  line-height: 45px;
  font-family: "GothamProBlack", sans-serif;
  text-transform: uppercase;
  cursor: default;
}

.index-slider__img {
  text-align: left;
  position: relative;
}

.index-slider__img img {
  display: inline-block;
  width: auto;
  height: 100%;
}

.index-slider .slick-dots {
  width: 10px;
  position: absolute;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.index-slider .slick-dots li {
  padding: 9px 0;
  display: block;
}

.index-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  background-color: #c5e4fb;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.index-slider .slick-dots .slick-active button {
  background-color: #0088ed;
}

.cg-active::before {
  background-position: right center !important;
}

.calculation {
  position: relative;
}

.calculation-geo::before {
  content: '';
  display: block;
  width: 14px;
  height: 19px;
  background-image: url(../img/icon/geo.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  left: 19px;
  top: 50%;
  margin-top: -9.5px;
}

.calculation__city {
  height: 36px;
  border-radius: 18px;
  border: 1px solid #323232;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: middle;
  display: block;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculation__city::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city::-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus {
  border-color: #0088ed;
  color: #0088ed;
}

.calculation__city:focus::-webkit-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus:-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus::-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus:-ms-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__places {
  height: 36px;
  border-radius: 18px;
  border: 1px solid #323232;
  padding-left: 53px;
  padding-right: 19px;
  text-align: right;
  vertical-align: middle;
  display: block;
  width: 60%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  padding-bottom: 1.1px;
}

.calculation-pl {
  position: relative;
}

.calculation-pl span {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #323232;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.calculation__value {
  display: block;
  margin-top: 8px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #323232;
  border-top: 1px solid transparent;
  font-size: 12px;
  color: #008be9;
}

.calculation__value-wp {
  display: inline-block;
  position: relative;
}

.calculation__value::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value::-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus {
  border-bottom-color: #0088ed;
  color: #0088ed;
}

.calculation__value:focus::-webkit-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus:-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus::-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus:-ms-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation-tr {
  font-size: 11.69px;
  color: #323232;
}

.calculation-tr .calculation__value {
  display: inline-block;
  position: relative;
}

.calculation-tr span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.calculation__button {
  height: 36px;
  line-height: 36px;
  background-color: #008be9;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.25px;
  display: block;
  width: 100%;
  border-radius: 18px;
}

.calculation__button:hover {
  text-decoration: none;
  color: #fff;
}

.calculation__button:focus, .calculation__button:active {
  text-decoration: none;
  color: #fff;
}

.calculation__text {
  position: absolute;
  top: 30px;
  left: 2px;
  display: block;
  font-size: 8px;
  letter-spacing: 0.25px;
  color: #008be9;
  display: none;
}

.advantages {
  padding: 0 20px;
}

.advantages__img {
  height: 95px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.advantages__img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.advantages__title {
  display: block;
  text-align: center;
}

.advantages__title h3 {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: #323232;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
}

.advantages__description {
  text-align: center;
}

.advantages__description p {
  display: inline;
  color: #323232;
  font-size: 12px;
  line-height: 18px;
}

.promotions__title {
  text-align: center;
  padding-bottom: 60px;
}

.promotions__title b {
  color: #323232;
  font-size: 35px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
}

.promotions__slider {
  height: 352px;
  position: relative;
}

.promotions__slider .slick-slide {
  opacity: 0.3;
}

.promotions__slider .slick-active {
  opacity: 1;
}

.promotions__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 57px;
  height: 57px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 10;
  text-indent: -9999px;
  background-position: center center;
  background-repeat: no-repeat;
}

.promotions__slider .slick-arrow:hover {
  border-color: #008be9;
}

.promotions__slider .slick-arrow:hover::after {
  background-position-x: right !important;
}

.promotions__slider .slick-arrow::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url(../img/icon/arrows.png);
  top: 50%;
  margin-top: -5px;
  z-index: 11;
}

.promotions__slider .slick-prev {
  left: -29px;
}

.promotions__slider .slick-prev::after {
  content: '';
  background-position: left top;
  left: 24px;
}

.promotions__slider .slick-next {
  right: -29px;
}

.promotions__slider .slick-next::after {
  content: '';
  background-position: left bottom;
  right: 24px;
}

.promotions__item {
  height: 352px;
}

.promotions__first {
  border: 1px solid #d0d0d0;
  padding: 22px 30px;
}

.promotions .column-1 {
  padding-top: 10px;
}

.promotions .column-1 b {
  color: #323232;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
}

.promotions .column-2 {
  text-align: center;
  padding-top: 9px;
}

.promotions .column-2 span {
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
  display: inline-block;
  white-space: nowrap;
}

.promotions .column-2 span strong {
  color: #008be9;
  font-size: 20px;
  line-height: 19px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
}

.promotions .column-3 {
  padding-top: 8px;
  text-align: center;
}

.promotions .column-3 input {
  height: 24px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #989898;
  font-size: 14px;
  color: #323232;
  letter-spacing: 0.25px;
  max-width: 146px;
}

.promotions .column-3 input::-webkit-input-placeholder {
  color: #323232;
  font-size: 10px;
}

.promotions .column-3 input:-moz-placeholder {
  color: #323232;
  font-size: 10px;
}

.promotions .column-3 input::-moz-placeholder {
  color: #323232;
  font-size: 10px;
}

.promotions .column-3 input:-ms-input-placeholder {
  color: #323232;
  font-size: 10px;
}

.promotions .column-3 input:focus {
  border-bottom-color: #323232;
}

.promotions .column-4 {
  text-align: center;
}

.promotions .column-4 a {
  max-width: 112px;
  display: inline-block;
  height: 40px;
  background-color: transparent;
  color: #008be9;
  font-size: 14px;
  line-height: 38px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  text-align: center;
  border: 1px solid #008be9;
  border-radius: 20px;
  padding: 0 18px;
}

.promotions .column-4 a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #008be9;
}

.promotions__img {
  display: block;
  width: auto;
  margin-left: 0;
  margin-right: -30px;
  height: 352px;
  overflow: hidden;
}

.promotions__img img {
  min-height: 100%;
  min-width: 100%;
}

.promotions__zag {
  text-align: center;
}

.promotions__zag b {
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
  text-transform: uppercase;
}

.promotions__description {
  text-align: center;
  padding-top: 20px;
}

.promotions__description p {
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
  display: inline;
}

.promotions__input {
  text-align: center;
}

.promotions__input input {
  width: 230px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #93c9f7;
  height: 36px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.promotions__input input::-webkit-input-placeholder {
  color: #fff;
  font-size: 10px;
}

.promotions__input input:-moz-placeholder {
  color: #fff;
  font-size: 10px;
}

.promotions__input input::-moz-placeholder {
  color: #fff;
  font-size: 10px;
}

.promotions__input input:-ms-input-placeholder {
  color: #fff;
  font-size: 10px;
}

.promotions__input input:focus {
  border-bottom-color: #fff;
}

.promotions__button {
  text-align: center;
  padding-top: 22px;
}

.promotions__button a {
  height: 38px;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  padding: 0 50px;
  background-color: #fff;
  border-radius: 19px;
  color: #008be9;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
}

.promotions__button a:hover {
  text-decoration: none;
}

.promotions__stock {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 68px;
}

.promotions__stock a {
  display: inline-block;
  height: 54px;
  padding: 0 80px;
  line-height: 52px;
  color: #fff;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  background-color: #0088ed;
  border: 1px solid #0088ed;
}

.promotions__stock a:hover {
  text-decoration: none;
  color: #0088ed;
  background-color: transparent;
}

.subscription__title {
  text-align: center;
  padding-top: 50px;
}

.subscription__title b {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.subscription__description {
  padding: 30px 0;
}

.subscription__description p {
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-align: justify;
  text-align: center;
}

.subscription__email input {
  display: block;
  width: 228px;
  margin: 0 auto;
  height: 32px;
  border: none;
  border-bottom: 1px solid #80c5f4;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.subscription__email input:focus {
  border-color: #fff;
}

.subscription__email input::-webkit-input-placeholder {
  color: rgba(225, 225, 225, 0.5);
  font-size: 10px;
}

.subscription__email input:-moz-placeholder {
  color: rgba(225, 225, 225, 0.5);
  font-size: 10px;
}

.subscription__email input::-moz-placeholder {
  color: rgba(225, 225, 225, 0.5);
  font-size: 10px;
}

.subscription__email input:-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.5);
  font-size: 10px;
}

.subscription__button {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 59px;
}

.subscription__button a {
  display: inline-block;
  height: 54px;
  padding: 0 80px;
  line-height: 52px;
  color: #008be9;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  background-color: #fff;
  border: 1px solid #fff;
}

.subscription__button a:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

.our-services__title {
  text-align: center;
  padding-top: 50px;
}

.our-services__title b {
  color: #323232;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.our-services__top {
  padding: 60px 26px 40px 26px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.our-services__link {
  color: #323232;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 19px;
  font-family: "GothamProMedium", sans-serif;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5px 0 5px 40px;
}

.our-services__link:hover {
  color: #008be9;
  text-decoration: underline;
}

.our-services__left {
  background-color: #1995e5;
  width: 332px;
  padding-top: 98px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 98px;
  float: left;
  box-sizing: border-box;
}

.our-services__left-block .our-services__left-item:last-child {
  padding-bottom: 0;
}

.our-services__left-item {
  padding-bottom: 25px;
  display: block;
}

.our-services__left-link {
  color: #fff;
  font-size: 14px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.our-services__left-link:hover {
  color: #fff;
  text-decoration: underline;
}

.our-services__right {
  float: left;
  width: 808px;
  overflow: hidden;
}

.our-services__right-block {
  width: 100%;
}

.our-services__right-block img {
  width: 100%;
  display: block;
}

.our-services__stock {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}

.our-services__stock a {
  display: inline-block;
  height: 54px;
  padding: 0 80px;
  line-height: 52px;
  color: #fff;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  background-color: #0088ed;
  border: 1px solid #0088ed;
}

.our-services__stock a:hover {
  text-decoration: none;
  color: #0088ed;
  background-color: transparent;
}

.sending__title {
  text-align: center;
  padding-top: 50px;
}

.sending__title b {
  color: #323232;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.sending__item {
  text-align: center;
}

.sending__numb {
  text-align: center;
  padding-bottom: 5px;
}

.sending__numb span {
  color: rgba(0, 139, 233, 0.1);
  font-size: 100px;
  letter-spacing: 0.25px;
  font-family: "GothamProBlack", sans-serif;
  line-height: 100px;
}

.sending__zag {
  text-align: center;
  padding-bottom: 16px;
}

.sending__zag b {
  color: #323232;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
}

.sending__description p {
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
}

.sending__description p a {
  color: #008be9;
  text-decoration: underline;
}

.sending__description p a:hover {
  text-decoration: none;
  color: #008be9;
}

.sending__stock {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 80px;
}

.sending__stock a {
  display: inline-block;
  height: 54px;
  padding: 0 80px;
  line-height: 52px;
  color: #fff;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  background-color: #0088ed;
  border: 1px solid #0088ed;
}

.sending__stock a:hover {
  text-decoration: none;
  color: #0088ed;
  background-color: transparent;
}

.traffic__title {
  text-align: center;
  padding-top: 50px;
}

.traffic__title b {
  color: #323232;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.traffic__description {
  padding-top: 8px;
  text-align: center;
}

.traffic__description p {
  display: inline-block;
  color: #323232;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  font-family: "GothamProMedium", sans-serif;
}

.traffic__item {
  border: 10px solid #e5e6e7;
  padding: 8px 5px;
  height: 240px;
  margin-bottom: 30px;
  background-color: #fff;
}

.traffic__img {
  display: block;
  text-align: center;
}

.traffic__img img {
  display: inline-block;
}

.traffic__zag {
  text-align: center;
}

.traffic__zag b {
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.traffic__op {
  text-align: center;
  padding-top: 16px;
}

.traffic__op p {
  color: #323232;
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
}

.traffic__op p span {
  color: #008be9;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
}

.traffic__stock {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.traffic__stock a {
  display: inline-block;
  height: 54px;
  padding: 0 80px;
  line-height: 52px;
  color: #fff;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  background-color: #0088ed;
  border: 1px solid #0088ed;
}

.traffic__stock a:hover {
  text-decoration: none;
  color: #0088ed;
  background-color: transparent;
}

.questions__title {
  text-align: center;
  padding-top: 40px;
}

.questions__title b {
  color: #323232;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: inline-block;
}

.questions__item {
  position: relative;
  border-bottom: 1px solid #989898;
}

.questions__item-block {
  padding-bottom: 24px;
  display: none;
}

.questions__item .plus {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
}

.questions__item .plus-wp {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.questions__item .plus::before {
  content: '';
  width: 2px;
  height: 16px;
  background-color: #0088ed;
  position: absolute;
  left: 7px;
  top: 0;
}

.questions__item .plus::after {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #0088ed;
  position: absolute;
  left: 0;
  top: 7px;
}

.questions__item .minus::before {
  content: '';
  display: none !important;
}

.questions__item-name {
  position: relative;
  padding: 24px 0;
  cursor: pointer;
}

.questions__bottom {
  text-align: center;
  padding-bottom: 96px;
}

.questions__bottom p {
  display: inline-block;
}

.seo strong {
  color: #323232;
  font-size: 12px;
  line-height: 19px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: block;
  padding-bottom: 26px;
}

.seo h2 {
  color: #323232;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 19px;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  display: block;
  padding-bottom: 16px;
}

.seo p {
  color: #323232;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.25px;
}

.seo__button a {
  color: #008be9;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  text-decoration: underline;
  letter-spacing: 0.25px;
}

.footer__top {
  background-color: #454545;
}

.footer__bottom {
  background-color: #262626;
  height: 68px;
}

.f-logo__link {
  position: relative;
  width: 191px;
  height: 55px;
  display: block;
}

.f-logo__link img {
  display: block;
  width: 100%;
  height: 100%;
}

.f-logo__link span {
  display: inline-block;
  position: absolute;
  right: -2px;
  bottom: 0;
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.f-logo__description {
  display: block;
  width: 205px;
  padding-top: 18px;
}

.f-logo__description p {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  letter-spacing: 0.25px;
}

.soc {
  font-size: 0;
  padding-top: 24px;
}

.soc__item {
  display: inline-block;
  margin-right: 10px;
}

.soc__link {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu__title {
  padding-bottom: 10px;
}

.menu__title b {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
}

.menu__item {
  display: block;
  text-align: left;
  padding: 5px 0;
}

.menu__link {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  letter-spacing: 0.25px;
}

.menu__link:hover {
  color: #fff;
  text-decoration: underline;
}

.menu__email {
  padding-top: 22px;
}

.menu__email input {
  height: 40px;
  display: block;
  background-color: #fff;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  float: left;
  width: 70%;
}

.menu__email button {
  background-color: #008be9;
  height: 40px;
  width: 30%;
  text-align: center;
  line-height: 40px;
  border: none;
  display: block;
  color: #fff;
  float: left;
}

.copy {
  text-align: left;
}

.copy p {
  color: #fff;
  font-size: 14px;
  line-height: 68px;
  display: inline-block;
}

.developer {
  text-align: right;
}

.developer p {
  color: #fff;
  font-size: 14px;
  line-height: 68px;
  display: inline-block;
}

.developer p a {
  color: #fff;
  text-decoration: underline;
}

.developer p a:hover {
  text-decoration: none;
  color: #fff;
}

.mob-our-services__top .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 10;
  text-indent: -9999px;
  background-position: center center;
  background-repeat: no-repeat;
}

.mob-our-services__top .slick-arrow:hover {
  border-color: #008be9;
}

.mob-our-services__top .slick-arrow:hover::after {
  background-position-x: right !important;
}

.mob-our-services__top .slick-arrow::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url(../img/icon/arrows.png);
  top: 50%;
  margin-top: -5px;
  z-index: 11;
}

.mob-our-services__top .slick-prev {
  left: 0;
}

.mob-our-services__top .slick-prev::after {
  content: '';
  background-position: left top;
  left: 10px;
}

.mob-our-services__top .slick-next {
  right: 0;
}

.mob-our-services__top .slick-next::after {
  content: '';
  background-position: left bottom;
  right: 10px;
}

.mob-our-services__top-item {
  color: #323232;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 30px;
  display: block;
  text-align: center;
}

.mob-our-services__bottom-item-no::after {
  display: none !important;
}

.mob-our-services__bottom-item {
  height: 480px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mob-our-services__bottom-item::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 139, 233, 0.9);
}

.mob-our-services__types {
  height: 120px;
  display: block;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mob-our-services__types::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 139, 233, 0.5);
}

.mob-our-services__types span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  z-index: 2;
  font-family: "GothamProBold", sans-serif;
}

.mob-our-services__bottom {
  margin-top: 10px;
  position: relative;
}

.mob-our-services__wp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 2;
}

.mob-our-services__cargo,
.mob-our-services__directions,
.mob-our-services__services {
  font-size: 14px;
  display: block;
  width: 100%;
  color: #fff;
  line-height: auto;
  padding: 8px 50px;
  font-family: "GothamProBold", sans-serif;
  box-sizing: border-box;
}

.mob-our-services__cargo:hover,
.mob-our-services__directions:hover,
.mob-our-services__services:hover {
  color: #fff;
  text-decoration: underline;
}

.navi {
  font-size: 0;
}

.navi__item {
  display: inline-block;
  padding-right: 36px;
}

.navi__item:last-child {
  padding-right: 0;
}

.navi__link {
  color: #323232;
  font-size: 12px;
  font-family: "GothamProLight", sans-serif;
  display: block;
}

.navi__last {
  color: #0088ed;
  font-size: 12px;
  font-family: "GothamProLight", sans-serif;
  display: block;
}

.p-title {
  text-align: left;
  display: block;
  padding-top: 14px;
  padding-bottom: 80px;
}

.p-title b {
  font-size: 40px;
  font-family: "GothamProBlack", sans-serif;
  line-height: 45px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #323232;
  display: inline-block;
}

.tabs {
  background-color: #f4f5f5;
  padding: 25px 30px;
  border: 1px solid #dcdddd;
}

.tabs .active {
  color: #0088ed;
}

.tabs__item {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
  color: #323232;
  font-size: 14px;
}

.tabs__item:hover {
  color: #0088ed;
}

.tabs__item:last-child {
  margin-bottom: 0;
}

.content {
  padding-bottom: 130px;
}

.content strong {
  color: #323232;
  font-size: 14px;
  line-height: 21px;
  font-family: "GothamProBold", sans-serif;
}

.content ul {
  margin-top: -10px;
}

.content ul li {
  position: relative;
  padding-left: 10px;
  color: #0088ed;
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0;
}

.content ul li:last-child {
  margin-bottom: 0;
}

.content ul li::before {
  content: '-';
  color: #0088ed;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.content h2 {
  color: #323232;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
}

.content p {
  line-height: 21px;
  color: #323232;
  font-size: 14px;
}

.i-stas {
  padding-top: 40px;
}

.i-stas__item {
  padding-left: 66px;
  position: relative;
  margin-bottom: 30px;
}

.i-stas__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.i-stas__img img {
  display: block;
}

.i-stas__title {
  color: #323232;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  display: block;
  font-family: "GothamProBold", sans-serif;
}

.i-stas__description {
  color: #323232 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  display: block;
}

.mob-tabs {
  background-color: #f4f5f5;
  padding: 0 20px;
  border: 1px solid #dcdddd;
  margin-bottom: 40px;
}

.mob-tabs__item {
  color: #323232;
  font-size: 14px;
  padding: 8px 15px 8px 0;
  position: relative;
  cursor: pointer;
}

.mob-tabs__item-active::after {
  content: '';
  border: none !important;
  border: 6px solid transparent !important;
  border-bottom: 8px solid #454545 !important;
  margin-top: -10px !important;
}

.mob-tabs__item::after {
  content: '';
  border: 6px solid transparent;
  border-top: 8px solid #454545;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4px;
}

.staff {
  border: 1px solid #f4f5f5;
  padding: 50px 35px 10px 35px;
  margin-bottom: 86px;
}

.staff__item {
  position: relative;
  padding-left: 166px;
  height: 195px;
  margin-bottom: 40px;
}

.staff__img {
  width: 140px;
  height: 195px;
  overflow: hidden;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

.staff__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.staff__name {
  font-size: 14px;
  line-height: 21px;
  color: #454545;
  font-family: "GothamProMedium", sans-serif;
  display: block;
  padding-bottom: 10px;
}

.staff__description {
  font-size: 14px;
  line-height: 21px;
  color: #454545;
}

.staff__link {
  color: #008be9;
  font-size: 14px;
  line-height: 21px;
}

.staff__link:hover {
  color: #008be9;
  text-decoration: underline;
}

.license__item {
  padding-left: 168px;
  position: relative;
  min-height: 200px;
  margin-bottom: 40px;
}

.license__img {
  width: 142px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.license__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.license__img-hover {
  position: absolute;
  width: 142px;
  height: 200px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.license__img-hover-wp i {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.license__img-hover-wp span {
  color: #fff;
  font-size: 12px;
  line-height: 21px;
}

.license__title {
  color: #454545;
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: block;
  padding-bottom: 10px;
}

.license__description {
  font-size: 14px;
  color: #454545;
  line-height: 21px;
}

.reviews {
  padding-bottom: 20px;
}

.reviews__item {
  margin-bottom: 30px;
}

.reviews__data {
  text-align: center;
  padding-bottom: 6px;
}

.reviews__data span {
  display: inline-block;
  color: #454545;
  font-size: 14px;
  line-height: 21px;
  font-family: "GothamProMedium", sans-serif;
}

.reviews__img {
  width: 142px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.reviews__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.popup-bg {
  position: fixed;
  z-index: 990;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.feedback-popup {
  position: fixed;
  width: 792px;
  background-color: #fff;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 50px 60px;
  display: none;
}

.feedback-popup__wrapper {
  position: relative;
}

.feedback-popup__title {
  text-align: center;
  padding-bottom: 40px;
}

.feedback-popup__title b {
  color: #323232;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 45px;
  display: inline-block;
}

.feedback-popup__input input {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #d8d9d9;
  border-radius: 22px;
  padding: 0 16px;
  color: #323232;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.feedback-popup__input input:focus {
  border-color: #0088ed;
}

.feedback-popup__button {
  padding-top: 30px;
  text-align: center;
}

.feedback-popup__button button {
  height: 54px;
  padding: 0 40px;
  display: inline-block;
  line-height: 52px;
  border: 1px solid #0088ed;
  background-color: #0088ed;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.25px;
  border-radius: 27px;
}

.feedback-popup__button button:hover {
  background-color: transparent;
  color: #0088ed;
}

.feedback-popup__close {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../img/icon/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  right: -30px;
  top: -20px;
  cursor: pointer;
}

.calculation-popup {
  position: fixed;
  width: 792px;
  background-color: #fff;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 50px 60px;
  display: none;
}

.calculation-popup__wrapper {
  position: relative;
}

.calculation-popup__title {
  text-align: center;
}

.calculation-popup__title b {
  color: #323232;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 45px;
  display: inline-block;
}

.calculation-popup__person {
  display: block;
  font-size: 0;
  text-align: center;
  padding-bottom: 18px;
}

.calculation-popup__person-item {
  display: inline-block;
  margin: 0 13px;
}

.calculation-popup__person-item input {
  display: none;
}

.calculation-popup__person-item label {
  font-size: 16px;
  line-height: 45px;
  color: #323232;
  letter-spacing: 0.25px;
  cursor: pointer;
}

input[name="c-person"]:checked + label {
  color: #0d7ad6;
}

.sequence {
  padding-bottom: 48px;
}

.sequence__item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 58px;
}

.sequence__numb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sequence__numb span {
  color: #0088ed;
  font-size: 25px;
  letter-spacing: 0.25px;
}

.sequence__text p {
  color: #323232;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.25px;
}

.transport span {
  font-size: 14px;
  color: #323232;
  line-height: 40px;
  letter-spacing: 0.25px;
  display: inline-block;
}

.transport__block {
  display: inline-block;
  padding-left: 10px;
  font-size: 0;
}

.transport__block-item {
  display: inline-block;
  padding: 0 10px;
}

.transport__block-item input {
  display: none;
}

.transport__block-item label {
  color: #323232;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}

input[name="s-transport"]:checked + label {
  color: #0d7ad6;
}

.t-addr {
  text-align: left;
  padding-top: 25px;
}

.t-addr__item {
  position: relative;
}

.t-addr__item input {
  width: 100%;
  display: block;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #d8d9d9;
  padding: 0 44px 0 16px;
  font-size: 12px;
  color: #323232;
  position: relative;
}

.t-addr__item input:focus {
  border-color: #0088ed;
}

.t-addr__item::after {
  content: '';
  width: 10px;
  height: 14px;
  display: block;
  background-image: url(../img/icon/geo.png);
  background-repeat: no-repeat;
  background-position: center center;
  right: 18px;
  top: 50%;
  margin-top: -7px;
  position: absolute;
}

.t-addr__bottom {
  padding-top: 16px;
  position: relative;
}

.t-addr__bottom input {
  border-radius: none;
  border: none;
  border-bottom: 1px solid #d8d9d9;
  display: block;
  width: 100%;
  font-size: 12px;
  height: 30px;
  padding-left: 30px;
  padding-right: 8px;
}

.t-addr__bottom input:focus {
  border-color: #0088ed;
}

.t-addr__bottom::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-color: #0088ed;
  border-radius: 2px;
  background-image: url("../img/icon/ceck.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  bottom: 6px;
}

.t-addr label {
  margin-bottom: 25px;
  display: inline-block;
  color: #323232;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.t-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.t-info__item .ui-selectmenu-button.ui-button {
  width: 200px;
  border: 1px solid #d8d9d9;
  background-color: transparent;
  border-radius: 22px !important;
  height: 44px;
  padding: 12px 10px;
  letter-spacing: 0.25px;
  display: block;
}

.t-info__item .ui-selectmenu-button.ui-button .ui-selectmenu-text {
  font-size: 12px;
  color: #878787;
}

.t-info__item-st input {
  width: 98px !important;
}

.t-info__item input {
  display: block;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #d8d9d9;
  padding: 0 10px;
  font-size: 12px;
  color: #323232;
  text-align: center;
  width: 100%;
}

.t-info__item-big {
  width: 200px;
}

.t-info__item-big-1 input {
  width: 200px;
}

.t-info__item-bg {
  width: 336px;
}

.t-info__item-plus {
  margin-left: 10px;
  width: 89px;
}

.t-info__item-plus button {
  display: block;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #d8d9d9;
  padding: 0 10px;
  font-size: 12px;
  color: #323232;
  text-align: center;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  color: #0088ed;
}

.t-info__line {
  height: 1px;
  background-color: #ebecec;
  box-sizing: border-box;
  display: block;
  width: 40px;
  margin: 0 10px;
  position: relative;
  top: 50%;
  margin-top: -0.5px;
}

.t-character {
  margin-top: 38px;
}

.t-character .ui-selectmenu-button.ui-button {
  width: auto;
  border: none;
  border-bottom: 1px solid #0088ed;
  background-color: transparent;
  border-radius: 0 !important;
  padding: 0 6px;
  color: #323232;
  font-size: 12px;
  letter-spacing: 0.25px;
  display: inline-block;
}

.t-character label {
  color: #323232;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-right: 14px;
  display: inline-block;
}

.t-amenities__title {
  padding-top: 40px;
  padding-bottom: 7px;
}

.t-amenities__title b {
  color: #323232;
  font-size: 16px;
  font-family: "GothamProMedium", sans-serif;
}

.t-amenities__item {
  padding: 13px 0;
}

.t-amenities__item input {
  display: none;
}

.t-amenities__item label {
  font-size: 14px;
  color: #323232;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}

.t-amenities__item label::before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: block;
  background-color: #eef1f4;
  position: absolute;
  left: 0;
  top: 0;
}

input[name="t-amenities-1"]:checked + label::before {
  background-color: #0088ed;
  background-image: url(../img/icon/ceck.png);
  background-repeat: no-repeat;
  background-position: center center;
}

input[name="t-amenities-2"]:checked + label::before {
  background-color: #0088ed;
  background-image: url(../img/icon/ceck.png);
  background-repeat: no-repeat;
  background-position: center center;
}

input[name="t-amenities-3"]:checked + label::before {
  background-color: #0088ed;
  background-image: url(../img/icon/ceck.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.p-button {
  text-align: right;
  padding-top: 10px;
}

.p-button a {
  height: 54px;
  display: inline-block;
  padding: 0 48px;
  line-height: 52px;
  border: 1px solid #0088ed;
  background-color: #0088ed;
  border-radius: 27px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: "GothamProBold", sans-serif;
  color: #fff;
}

.p-button a:hover {
  text-decoration: none;
  color: #0088ed;
  background-color: transparent;
}

.p-info {
  padding-bottom: 36px;
}

.p-info p {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
}

.contacts__left {
  height: 418px;
  overflow: auto;
}

.contacts__right iframe {
  display: block;
  width: 100%;
  height: 418px;
}

.contacts__item b {
  color: #323232;
  font-size: 18px;
  line-height: 19px;
  font-family: "GothamProMedium", sans-serif;
  display: block;
  padding: 12px 0;
}

.contacts__item p {
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding-bottom: 12px;
}

.contacts__item a {
  color: #008be9;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  margin-bottom: 12px;
  display: inline-block;
}

.contacts__item a:hover {
  text-decoration: none;
  color: #008be9;
}

#ascrail2000 {
  background-color: #eceded;
  opacity: 1 !important;
  width: 2px !important;
  margin: 32px 0 !important;
  height: 354px !important;
}

#ascrail2000 > div {
  background-color: #008be9 !important;
  width: 6px !important;
  margin-right: -2px !important;
  height: 206px !important;
}

.additional {
  padding-top: 88px;
  padding-bottom: 30px;
}

.additional__title {
  color: #323232;
  font-size: 18px;
  line-height: 19px;
  font-family: "GothamProBold", sans-serif;
  padding-bottom: 16px;
}

.additional__item {
  padding-bottom: 16px;
}

.additional__item a {
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
}

.additional__item a:hover {
  color: #323232;
  text-decoration: none;
}

.additional__item b {
  display: block;
  color: #323232;
  font-size: 14px;
  line-height: 19px;
  font-family: "GothamProMedium", sans-serif;
}

.additional__item p {
  font-size: 14px;
  line-height: 19px;
  color: #323232;
}

.additional__item .skype {
  color: #008be9;
  font-size: 14px;
  line-height: 19px;
  font-family: "GothamProMedium", sans-serif;
}

.additional__item .email {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: "GothamProMedium", sans-serif;
  display: block;
}

.additional__description {
  padding-top: 20px;
  color: #323232;
  font-size: 14px;
  line-height: 19px;
}

.additional__soc {
  font-size: 0;
  padding-top: 6px;
}

.additional__soc-item {
  display: inline-block;
  padding-right: 12px;
}

.additional__soc-item:last-child {
  padding-right: 0;
}

.additional__soc-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

.page__toft {
  height: 560px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.toft__title {
  padding-bottom: 34px;
}

.toft__title h1 {
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-family: "GothamProBlack", sans-serif;
}

.toft__item {
  position: relative;
  color: #fefefe;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.25px;
  margin: 6px 0;
  padding-left: 12px;
}

.toft__item::before {
  content: '';
  width: 5px;
  height: 4px;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fefefe;
  position: absolute;
  left: 0;
  top: 7px;
}

.toft__right {
  background-color: #fff;
  padding: 28px 40px;
  width: 100%;
  margin-left: 75px;
  box-sizing: border-box;
}

.toft__right .t-info__line {
  margin-left: 15px;
  margin-right: 15px;
}

.tabs__title {
  padding-bottom: 14px;
}

.tabs__title b {
  color: #323232;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
}

.b-tabs__item {
  padding-left: 17px;
  position: relative;
  display: block;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  color: #323232;
}

.b-tabs__item::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #0088ed;
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
}

.b-tabs-sub {
  padding: 6px 0 0;
}

.b-tabs-sub__item {
  padding-left: 20px;
  margin: 7px 0;
  font-size: 14px;
  color: #323232;
}

.news__item {
  margin: 10px 0;
}

.news__data {
  display: block;
  color: rgba(0, 136, 237, 0.6);
  line-height: 15px;
  font-size: 12px;
}

.news__title {
  font-size: 13px;
  color: #323232;
  line-height: 15px;
  text-decoration: underline;
}

.news__title:hover {
  text-decoration: none;
  color: #323232;
}

.amen {
  padding-bottom: 50px;
}

.optionally__title {
  text-align: center;
  padding-bottom: 58px;
}

.optionally__title b {
  display: inline-block;
  color: #323232;
  font-size: 35px;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
}

.optionally__sub-title b {
  color: #323232;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-family: "GothamProBold", sans-serif;
}

.optionally__list {
  padding: 10px 0 24px;
}

.optionally__item {
  margin: 10px 0;
  color: #323232;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding-left: 12px;
  position: relative;
  line-height: 15px;
}

.optionally__item::before {
  content: '';
  border: 5px solid transparent;
  border-left: 6px solid #323232;
  position: absolute;
  left: 0;
  top: 3px;
}

.optionally__img img {
  display: block;
  width: 100%;
}

.airlines__title {
  padding-bottom: 96px;
}

.airlines__slider-wrapper {
  overflow: hidden;
}

.airlines__slider-item {
  height: 120px;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  display: flex !important;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

.airlines__slider-item img {
  display: block;
  max-width: 80%;
  max-height: 100%;
}

.your-data {
  padding-top: 20px;
}

.your-data p {
  color: #323232;
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.your-data input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor currentcolor #d8d9d9;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  display: block;
  font-size: 12px;
  height: 40px;
  padding: 0;
  width: 300px;
  float: left;
}

.your-data input:focus {
  border-color: #0088ed;
}

.your-data button {
  height: 40px;
  border-radius: 20px;
  background-color: #0088ed;
  border: 1px solid #0088ed;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  padding: 0 30px;
  display: block;
  float: right;
}

.dop-info textarea {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 26px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #d8d9d9;
  border-left: none;
  border-right: none;
  font-size: 14px;
  resize: none;
}

.dop-info textarea:focus {
  border-bottom-color: #0088ed;
}
