html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before {
  content: '';
  display: table;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "GothamProRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  padding-top: 9px;
  padding-bottom: 50px;
}

.header__nav {
  padding-top: 10px;
}

.header__phone {
  padding-top: 15px;
}

.page__index-slider {
  position: relative;
}

.logo {
  padding-left: 35px;
}

.logo__link {
  position: relative;
  width: 191px;
  height: 55px;
  display: block;
}

.logo__link img {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__link span {
  display: inline-block;
  position: absolute;
  right: -2px;
  bottom: 0;
  color: #323232;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.nav {
  font-size: 0;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__link {
  font-family: "GothamProBold", sans-serif;
  color: #323232;
  font-size: 14px;
  line-height: 50px;
  padding: 0 30px;
  height: 50px;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__link:hover, .nav__link-active {
  background-color: #0d8eee;
  text-decoration: none;
  color: #fff;
}

.sub-nav {
  background-color: #0d8eee;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  display: none;
}

.sub-nav-2 {
  left: 252px;
  top: 0;
}

.sub-nav__link {
  position: relative;
  display: block;
  background-color: #0d8eee;
  height: 50px;
  width: 252px;
}

.sub-nav__link:hover {
  background-color: #0186e0;
}

.sub-nav__link-active {
  background-color: #0186e0;
}

.sub-nav__link-arrow {
  display: block;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.sub-nav__link span {
  color: #fff;
  font-size: 14px;
  position: absolute;
  display: block;
  left: 25px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.phone {
  text-align: right;
  padding-right: 35px;
}

.phone__number {
  color: #323232;
  font-size: 16px;
  font-family: "GothamProBold", sans-serif;
  display: inline-block;
}

.phone__number:hover {
  color: #323232;
  text-decoration: none;
}

.phone__feedback {
  color: #323232;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
}

.phone__feedback:hover {
  text-decoration: none;
  color: #323232;
}

.index-links {
  position: absolute;
  width: 37px;
  left: -63px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 10;
}

.index-links__item {
  padding: 5px 0;
}

.index-links__link {
  width: 37px;
  height: 37px;
  display: block;
  border: 1px solid #0088ed;
  background-color: #0088ed;
  padding-left: 8px;
  padding-top: 8.5px;
  position: relative;
}

.index-links__link:hover {
  background-color: transparent;
}

.index-links__link:hover .index-links__icon {
  background-position-x: -21px !important;
}

.index-links__link span {
  height: 28px;
  line-height: 28px;
  background-color: #0088ed;
  display: block;
  position: absolute;
  top: 4px;
  padding: 0 14px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.25px;
  left: 36px;
  display: none;
}

.index-links__icon {
  width: 19px;
  height: 18px;
  display: block;
  background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
}

.index-slider {
  height: 390px;
  position: relative;
}

.index-slider__wrapper {
  height: 390px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-slider__wrapper p {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  cursor: default;
}

.index-slider__title {
  padding-bottom: 25px;
  display: block;
  width: 100%;
}

.index-slider__title h2 {
  color: #323232;
  font-size: 40px;
  line-height: 45px;
  font-family: "GothamProBlack", sans-serif;
  text-transform: uppercase;
  cursor: default;
}

.index-slider__img {
  text-align: left;
  position: relative;
}

.index-slider__img img {
  display: inline-block;
  width: auto;
  height: 100%;
}

.index-slider .slick-dots {
  width: 10px;
  position: absolute;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.index-slider .slick-dots li {
  padding: 9px 0;
  display: block;
}

.index-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  background-color: #c5e4fb;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.index-slider .slick-dots .slick-active button {
  background-color: #0088ed;
}

.cg-active::before {
  background-position: right center !important;
}

.calculation {
  position: relative;
}

.calculation-geo::before {
  content: '';
  display: block;
  width: 14px;
  height: 19px;
  background-image: url(../img/icon/geo.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  left: 19px;
  top: 50%;
  margin-top: -9.5px;
}

.calculation__city {
  height: 36px;
  border-radius: 18px;
  border: 1px solid #323232;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: middle;
  display: block;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculation__city::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city::-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus {
  border-color: #0088ed;
  color: #0088ed;
}

.calculation__city:focus::-webkit-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus:-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus::-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__city:focus:-ms-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__places {
  height: 36px;
  border-radius: 18px;
  border: 1px solid #323232;
  padding-left: 53px;
  padding-right: 19px;
  text-align: right;
  vertical-align: middle;
  display: block;
  width: 60%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "GothamProBold", sans-serif;
  letter-spacing: 0.25px;
  padding-bottom: 1.1px;
}

.calculation-pl {
  position: relative;
}

.calculation-pl span {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #323232;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.calculation__value {
  display: block;
  margin-top: 8px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #323232;
  border-top: 1px solid transparent;
  font-size: 12px;
  color: #008be9;
}

.calculation__value-wp {
  display: inline-block;
  position: relative;
}

.calculation__value::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value::-moz-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus {
  border-bottom-color: #0088ed;
  color: #0088ed;
}

.calculation__value:focus::-webkit-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus:-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus::-moz-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation__value:focus:-ms-input-placeholder {
  color: #0088ed;
  font-size: 12px;
  opacity: 1;
}

.calculation-tr {
  font-size: 11.69px;
  color: #323232;
}

.calculation-tr .calculation__value {
  display: inline-block;
  position: relative;
}

.calculation-tr span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.calculation__button {
  height: 36px;
  line-height: 36px;
  background-color: #008be9;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.25px;
  display: block;
  width: 100%;
  border-radius: 18px;
}

.calculation__button:hover {
  text-decoration: none;
  color: #fff;
}

.calculation__button:focus, .calculation__button:active {
  text-decoration: none;
  color: #fff;
}

.calculation__text {
  position: absolute;
  top: 30px;
  left: 2px;
  display: block;
  font-size: 8px;
  letter-spacing: 0.25px;
  color: #008be9;
  display: none;
}
